<div class="admin-all-products-container">  
  <div class="board-title">
    <p>Tổng sản phẩm: {{totalProduct}}</p>
  </div>

  <div class="filter-and-create">
    <select class="filter">
      <option value="">Toàn bộ</option>
      <option value="skincare">Skincare</option>
      <option value="makeup">Makeup</option>
    </select>

    <a href="/admin/all-products/product/create" class="create-btn" id="create-btn">
      <i class="fi fi-br-layer-plus"></i>
      <p>Thêm Sản Phẩm</p>
    </a>
  </div>

  <div class="table">
    <table class="all-items">
      <thead>
        <tr>
          <td style="width:  5%">STT     </td>
          <td style="width: 10%">Hãng    </td>
          <td style="width: 25%">Tên     </td>
          <td style="width: 10%">Loại    </td>
          <td style="width: 15%">Giá nhập</td>
          <td style="width: 15%">Giá bán </td>
          <td style="width: 10%">Số lượng</td>
          <td style="width: 10%">Thao tác</td>
        </tr>
      </thead>

      <tbody>
        {{#each products}}
        <tr>
          <td>{{addIndex @index 1}}</td>
          <td>{{this.brand}}</td>
          <td style="
                display: flex; 
                justify-content: start;
                align-items: center;
                "
          >
            <img src="{{this.img.path}}" alt="{{this.name}}" loading="lazy" loading="lazy"> 
            <p>{{this.name}}</p>
          </td>  
          <td>{{this.categories}}</td>
          <td>{{formatNumber this.purchasePrice}}</td>
          <td>{{formatNumber this.price}}</td>
          <td>{{this.quantity}}</td>
          <td>
            <a href="/admin/all-products/product/{{this._id}}" class="update-button">Xem</a>
            <button id="{{this._id}}" name="{{this.name}}" onclick="reply_click(this.id, this.name)">Xoá</button> 
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div id="id01" class="modal">
      <form class="modal-content">
        <div class="container">
          <p><strong>Xoá sản phẩm ?</strong></p>
          <p id="confirm-message"></p>
          <div class="clearfix">
            <button id="delete-button" type="button" class="deletebtn">Xoá</button>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Huỷ</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <span class="pagination"></span>
</div>

<form style="display: none;" name="delete-form" method="post"></form>

<script>
  const successful = '{{successful}}'
  const totalProduct = `{{totalProduct}}`
  const currentPage = `{{currentPage}}`
</script>
<script src="/js/admin/all/product.js" defer></script>
