<div class="admin-create-order-container">
  <form id="form-1" method="post" action="/admin/all-orders/order/created">
    <div class="form-title">
      <p>Thêm đơn hàng mới</p>
    </div>
    <div class="form-group">
      <label for="orderDate">Ngày bán *</label>
      <input type="date" id="orderDate" name="orderDate" required>
      <span class="form-message"></span>
    </div>
    <div class="form-group">
      <label for="name">Chọn khách hàng</label>
      <select name="userId" id="userId" required>
        <option value="" selected disabled>-- Khách hàng --</option>
        {{#each users}}
          <option value="{{this._id}}">{{this.userInfo.name}}, {{this.userInfo.address}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="paymentMethod">Chọn phương thức thanh toán</label>
      <select name="paymentMethod" id="paymentMethod" required>
        <option value="" selected disabled>-- Phương thức thanh toán --</option>
          <option value="cash">Tiền mặt</option>
          <option value="transfer">Chuyển khoản</option>
      </select>
    </div>
    <div class="form-group">
      <label for="note">Ghi chú</label>
      <input type="text" id="note" name="note">
      <span class="form-message"></span>
    </div>
    <div class="form-group">
      <label>Chọn sản phẩm</label>
      <input type="text"  id="product-search" placeholder="Nhập tên sản phẩm">
      <span class="form-message"></span>
    </div>
    <div class="products-match">
      {{#each products}}
        <div class="product" style="display: none">
          <p style="display: none" id="product-id">{{this._id}}</p>
          <p style="width: 15%">{{this.brand}}</p>
          <p 
            style="width: 65%; display:flex; align-items:center; justify-content:start; gap:5px"
            id="product-name"
          >
            <img src="{{this.img.path}}" alt="{{this.name}}" loading="lazy" loading="lazy"> 
            {{this.name}}
          </p>  
          <p style="width: 10%;">{{this.categories}}</p>
          <p style="width: 10%; text-align:right" id="product-price">{{this.price}}</p>
        </div>
      {{/each}}
    </div>

    <table>
      <thead>
        <tr>
          <td style="width:  5%;">STT</td>
          <td style="width: 40%;">Sản Phẩm</td>
          <td style="width: 15%; text-align:right">Đơn Giá</td>
          <td style="width: 10%;">Số Lượng</td>
          <td style="width: 15%; text-align:right">Tổng Tiền</td>
          <td style="width: 10%;"></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align: right">0</td>
        <td></td>
      </tfoot>
    </table>  

    <div class="submit-button"><button title="submit" type="submit">Hoàn thành</button></div>
  </form>
</div>

<script>
  loadFile('/js/admin/create/order.js')
</script>