<div class="admin-all-customers-container">  
  <div class="board-title">
    <p>Tổng Khách Hàng: {{customerLength}}</p>
  </div>

  <div class="filter-and-create">
    <select class="filter">
      <option value="">Toàn bộ</option>
      <option value=""></option>
      <option value=""></option>
    </select>

    <a href="/admin/all-customers/customer/create" class="create-customer" id="create-customer">
      <i class="fi fi-rr-user-add"></i>
      <p>Thêm Khách hàng</p>
    </a>
  </div>

  <div class="table">
    <table style="width:100%">
      <thead>
        <tr>
          <td> STT            </td>
          <td> Mã Khách hàng  </td>
          <td> Tên Khách Hàng </td>
          <td> Tổng Đơn hàng  </td>
          <td> Tổng doanh thu </td>
          <td>
          </td>
        </tr>
      </thead>

      <tbody>
        {{#each customersWithOrders}}
        <tr>
          <td>{{addIndex @index 1}}</td>
          <td>{{this._id}}</td>
          <td>{{this.userInfo.name}}</td>
          <td>{{this.totalOrder}}</td>
          <td class="total-price">{{this.totalPrice}}</td>
          <td><a href="/admin/all-customers/{{this._id}}">Chi Tiết</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="chat-body">
    <ul class="chat-content">
      <div class="left-content">
      </div>
    </ul>
    
    <form class="input-form">
      <textarea name="input" id="input" class="input" placeholder="Aa"></textarea>
      <div class="send-btn not-allowed">Gửi</div>
    </form>
  </div>

  <span class="pagination">
  </span>
</div>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script>
  const socket = io('http://localhost:3000', {
    path: "/socket.io"
  });

  let counter = 0  
  const chatBody    = document.querySelector('div.chat-body')
  const chatContent = document.querySelector('ul.chat-content')
  const input       = document.querySelector('textarea.input')
  const sendBtn     = document.querySelector('div.send-btn')
  const isLoggedIn  = document.cookie
  const userId      = isLoggedIn.split('user_id=')[1]
  const form = document.querySelector('form.input-form')

  socket.emit('joinRoom', '65eddb9e7abb421b88771b35');

  sendBtn.onclick = function() {
    if (input.value.trim() !== '') {
      socket.emit('privateMessage', { room: '12345', message: `${userId}:${input.value}` })
      {{!-- socket.emit('chat message', `${userId}:${input.value}`); --}}
      input.value = ''
      sendBtn.classList.add('not-allowed')
    }
  }

  input.addEventListener('input', function() {
    if (input.value.trim() !== '') sendBtn.classList.remove('not-allowed') 
    else sendBtn.classList.add('not-allowed')
  })

  input.addEventListener("keypress", function(event) {
    if (event.key === "Enter" && input.value.trim() !== '') {
      sendBtn.click();
      input.value = ''
      sendBtn.classList.add('not-allowed')
    }
  })

  socket.on('chat message', (id, msg) => {
    console.log(`${id},${msg}`)
    const chat = document.createElement('li');
    chat.textContent = msg;
    if (id.trim() === userId) {
      chat.setAttribute('class', 'right-content')
    }  
      chatContent.appendChild(chat);
  });
</script>

<script>
  // pagination 
  var pagination = document.querySelector('span.pagination')
  var productLength = `{{orderLength}}`
  var currentPage = 1

  // díplay all pages tag
  for (let i = 0; i < productLength; i += 10) {
    var newPage = document.createElement('a')
    newPage.setAttribute('href', `/admin/all-orders?page=${currentPage}&type={{orderType}}`)
    newPage.innerText = `${currentPage}`
    pagination.appendChild(newPage)
    currentPage++
  }

  // Style the current selected page
  var allPagesTag = pagination.querySelectorAll('a')
  for (let i = 0; i < allPagesTag.length; ++i) {
    if (allPagesTag[i].innerText === `{{currentPage}}`) {
      allPagesTag[i].style.borderColor = '#D1A6A6'
      allPagesTag[i].style.backgroundColor = '#D1A6A6'
      allPagesTag[i].style.color = 'white'
      allPagesTag[i].style.width = '25px'
      allPagesTag[i].style.height = '25px'
    }
  }

  {{!-- let selectButton = document.querySelector('select')
  selectButton.onchange = function () {
    location = `/admin/all-orders?page={{currentPage}}&type=${this.value}`
  }

  let selectButtonOptions = selectButton.querySelectorAll('option')

  selectButtonOptions.forEach(option => {
    if (option.value === `{{orderType}}`) {
      option.setAttribute('selected', 'selected')
    }
  }) --}}

  const totalPrice = document.querySelectorAll('td.total-price')
  totalPrice.forEach(price => {price.innerText = price.innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
</script>
