<div class="admin-all-chats-container">  
  <div class="table">
    <table>
      <thead>
        <tr>
          <td>Tên Khách Hàng</td>
        </tr>
      </thead>

      <tbody>
        {{#each chats}}
        <tr>
          <td><a href="/admin/all-chats/chat/{{this._id}}">{{this.userInfo.userInfo.name}}</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script>
  // pagination 
  var pagination = document.querySelector('span.pagination')
  var productLength = `{{orderLength}}`
  var currentPage = 1

  // díplay all pages tag
  for (let i = 0; i < productLength; i += 10) {
    var newPage = document.createElement('a')
    newPage.setAttribute('href', `/admin/all-orders?page=${currentPage}&type={{orderType}}`)
    newPage.innerText = `${currentPage}`
    pagination.appendChild(newPage)
    currentPage++
  }

  // Style the current selected page
  var allPagesTag = pagination.querySelectorAll('a')
  for (let i = 0; i < allPagesTag.length; ++i) {
    if (allPagesTag[i].innerText === `{{currentPage}}`) {
      allPagesTag[i].style.borderColor = '#D1A6A6'
      allPagesTag[i].style.backgroundColor = '#D1A6A6'
      allPagesTag[i].style.color = 'white'
      allPagesTag[i].style.width = '25px'
      allPagesTag[i].style.height = '25px'
    }
  }

  {{!-- let selectButton = document.querySelector('select')
  selectButton.onchange = function () {
    location = `/admin/all-orders?page={{currentPage}}&type=${this.value}`
  }

  let selectButtonOptions = selectButton.querySelectorAll('option')

  selectButtonOptions.forEach(option => {
    if (option.value === `{{orderType}}`) {
      option.setAttribute('selected', 'selected')
    }
  }) --}}

  const totalPrice = document.querySelectorAll('td.total-price')
  totalPrice.forEach(price => {price.innerText = price.innerText.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
</script>