<div class="admin-all-employees-container">  
  <div class="board-title">
    <p>Tổng nhân sự: {{totalEmployees}}</p>
  </div>

  <div class="filter-and-create">
    <select class="filter">
      <option value="">Toàn bộ</option>
      <option value="skincare">Skincare</option>
      <option value="makeup">Makeup</option>
    </select>

    <a href="/admin/all-employees/employee/create" class="create-employees" id="create-employees">
      <i class="fi fi-br-layer-plus"></i>
      <p>Thêm nhân viên</p>
    </a>
  </div>

  <div class="table">
    <table>
      <thead>
        <tr>
          <td style="width:  5%">STT           </td>
          <td style="width: 15%">Mã nhân viên  </td>
          <td style="width: 20%">Tên nhân viên </td>
          <td style="width: 10%">Email         </td>
          <td style="width: 15%">Địa chỉ       </td>
          <td style="width: 15%">Chức vụ       </td>
          <td style="width: 15%">Cửa hàng      </td>
          <td style="width:  5%"></td>
        </tr>
      </thead>

      <tbody>
        {{#each employees}}
        <tr>
          <td>{{addIndex @index 1}}</td>
          <td>{{this._id}}</td>
          <td>{{this.userInfo.name}}</td>
          <td>{{this.loginInfo.email}}</td>
          <td>{{this.userInfo.address}}</td>
          <td>{{this.loginInfo.role}}</td>
          <td>{{this.userInfo.storeId}}</td>
          <td><a href="/admin/all-employees/employee/{{this._id}}"><button>Chi Tiết</button></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination">
  </span>
</div>

<script>
  // display delete confirmation box
  let courseId;
  let deleteForm   = document.forms['delete-form']
  let deleteButton = document.getElementById('delete-button')
  let formButton   = document.getElementsByClassName('form-button')
  var productPrice = document.querySelectorAll('td#product-price')

  productPrice.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})

  function reply_click(clicked_id, clicked_name) {
    const name = clicked_name
    const message = document.querySelector('p#confirm-message')
    message.innerText = `Bạn có muốn xoá sản phẩm ${name} không ?`
    document.getElementById('id01').style.display='block'
    courseId = clicked_id
  }

  // delete action
  deleteButton.onclick = function () {
    deleteForm.action = '/admin/soft-delete/' + courseId + '?_method=DELETE'
    deleteForm.submit()
  }

  // pagination 
  var pagination = document.querySelector('span.pagination')
  var productLength = `{{productLength}}`
  var currentPage = 1

  // díplay all pages tag
  for (let i = 0; i < productLength; i += 10) {
    var newPage = document.createElement('a')
    newPage.setAttribute('href', `/admin/all-products?page=${currentPage}&type={{productType}}`)
    newPage.innerText = `${currentPage}`
    pagination.appendChild(newPage)
    currentPage++
  }

  // Style the current selected page
  var allPagesTag = pagination.querySelectorAll('a')
  for (let i = 0; i < allPagesTag.length; ++i) {
    if (allPagesTag[i].innerText === `{{currentPage}}`) {
      allPagesTag[i].style.borderColor = '#D1A6A6'
      allPagesTag[i].style.backgroundColor = '#D1A6A6'
      allPagesTag[i].style.color = 'white'
      allPagesTag[i].style.width = '25px'
      allPagesTag[i].style.height = '25px'
    }
  }
  
  // filter button logic
  let selectButton = document.querySelector('select')
  selectButton.onchange = function () {
    location = `/admin/all-products?page=1&type=${this.value}`
  }

  let selectButtonOptions = selectButton.querySelectorAll('option')

  selectButtonOptions.forEach(option => {
    if (option.value === `{{productType}}`) {
      option.setAttribute('selected', 'selected')
    }
  })
</script>
