<div class="admin-all-products-container">  
  <div class="board-sidebar">
    <p>Tổng sản phẩm</p>
  </div>

  <div style="
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;"
  >
    <div class="total">
      <p class="total-title">Tổng sản phẩm</p>
      <p class="total-number"></p>
    </div>

    <select class="filter">
      <option value="">Lọc Sản Phẩm</option>
      <option value="Skincare">Skincare</option>
      <option value="Makeup">Makeup</option>
    </select>
  </div>
  

  <div class="table">
    <table>
      <tr>
        <th>
          Id
        </th>
        <th>
          Hãng
        </th>
        <th>
          Tên
        </th>
        <th>
          Loại
        </th>
        <th>
          Giá
          {{{sortable 'price' _sort}}}
        </th>
        <th>
          Lựa chọn
        </th>
      </tr>
      
      {{#each product}}
      <tr>
        <td style="width: 10%;">{{addIndex @index 1}}</td>
        <td style="width: 20%;">{{this.brand}}</td>
        <td style="
              display: flex; 
              justify-content: start;
              align-items: center
              "
        >
          <img src="../uploads/{{this.avatar}}">
          <p>{{this.name}}</p>
        </td>
        <td style="width: 10%;">{{this.skincare}}</td>
        <td style="width: 10%;">{{this.price}}</td>
        <td style="width: 10%;">
          <a href="/admin/updating/{{this._id}}" class="update-button"><button>Sửa</button></a>
          <button id="{{this._id}}" onclick="reply_click(this.id)">Xoá</button>
          <div id="id01" class="modal">
            <form class="modal-content">
              <div class="container">
                <p><strong>Xoá sản phẩm ?</strong></p>
                <p>Bạn có muốn xoá sản phẩm {{this.name}} không</p>
                <div class="clearfix">
                  <button id="delete-button" type="button" class="deletebtn">Xoá</button>
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Huỷ</button>
                </div>
              </div>
            </form>
          </div>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>

  <span class="see-more-button">
    <button>Xem thêm</button>
  </span>
</div>

<form name="delete-form" method="post"></form>

<script>
  // display delete confirmation box
  let courseId;
  let deleteForm = document.forms['delete-form']
  let deleteButton = document.getElementById('delete-button')
  let formButton = document.getElementsByClassName('form-button')

  function reply_click(clicked_id) {
    document.getElementById('id01').style.display='block'
    courseId = clicked_id
  }

  // delete action
  deleteButton.onclick = function () {
    deleteForm.action = '/admin/soft-delete/' + courseId + '?_method=DELETE'
    deleteForm.submit()
  }

  // pagination button, 10 items on each click
  let seeMoreButton = document.querySelector('span.see-more-button').querySelector('button')
  let allProducts = document.querySelectorAll('tr')
  let allProductsLength = allProducts.length

  for (let i = 1; i < allProductsLength; ++i) {
    let productName = allProducts[i].querySelectorAll('td')[3]
    if (productName.innerText !== '') {
      productName.innerText = 'Skincare'
    } else {
      productName.innerText = 'Makeup'
    }
  }

  // pagination
  let firstIndex = 1
  let nextIndex = 11 
  for (let i = nextIndex; i < allProductsLength; ++i) {
    allProducts[i].style.display = 'none'
  }

  seeMoreButton.onclick = function() {
    firstIndex += 10
    nextIndex += 10
    if (firstIndex < allProductsLength) {
      checkFilter(firstIndex, nextIndex, allProducts, selectButton)
    } 
  }
  
  // filter button logic
  let selectButton = document.querySelector('select')
  selectButton.onchange = function () {
     checkFilter(1, nextIndex, allProducts, selectButton)
  }

  function checkFilter(firstIndex, nextIndex, allProducts, selectButton) {
    for (let i = firstIndex; i < nextIndex; ++i) {
      if (selectButton.value === '') {
        allProducts[i].style.display = 'table-row'
      } 
      else {
        if (allProducts[i].querySelectorAll('td')[3].innerText === selectButton.value) {
          allProducts[i].style.display = 'table-row'
        }
        if (allProducts[i].querySelectorAll('td')[3].innerText !== selectButton.value) {
          allProducts[i].style.display = 'none'
        }
      }
    }
  }
  
</script>
