<div class="admin-all-stores-container">  
  <div class="board-title">
    <p>Tổng cửa hàng: {{totalStore}}</p>
  </div>

  <div class="filter-and-create">
    <select class="filter">
      <option value="">Toàn bộ</option>
      <option value=""></option>
      <option value=""></option>
    </select>

    <a href="/admin/all-stores/store/create" class="create-stores" id="create-stores">
      <i class="fi fi-rr-user-add"></i>
      <p>Thêm Cửa Hàng</p>
    </a>
  </div>

  <div class="table">
    <table>
      <thead>
        <tr>
          <td> STT            </td>
          <td> Mã cửa hàng    </td>
          <td> Tên cửa hàng   </td>
          <td> Địa chỉ        </td>
          <td> Tổng doanh thu </td>
          <td>
          </td>
        </tr>
      </thead>

      <tbody>
        {{#each stores}}
        <tr>
          <td>{{addIndex @index 1}}</td>
          <td>{{this._id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.address}}</td>
          <td class="revenue">{{this.revenue}}</td>
          <td>
            <a href="/admin/all-stores/store/{{this._id}}"><button>Chi Tiết</button></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination">
  </span>
</div>

<script>
  revenue = document.querySelectorAll('td.revenue')
  revenue.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
</script>
