<div class="admin-all-stores-container">  
  <div class="board-title">
    <p>Tổng cửa hàng: {{totalStore}}</p>
  </div>

  <div class="table">
    <table style="width:100%">
      <thead>
        <tr>
          <td> STT            </td>
          <td> Mã cửa hàng    </td>
          <td> Tên cửa hàng   </td>
          <td> Địa chỉ        </td>
          <td> Tổng doanh thu </td>
          <td>
          </td>
        </tr>
      </thead>

      <tbody>
        {{#each stores}}
        <tr>
          <td>{{addIndex @index 1}}</td>
          <td>{{this._id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.address}}</td>
          <td class="revenue">{{this.revenue}}</td>
          <td>
            <a href="/admin/all-stores/store/{{this._id}}">Chi Tiết</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <span class="pagination">
  </span>
</div>

<script>
  revenue = document.querySelectorAll('td.revenue')
  revenue.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
</script>
