<div class="admin-create-purchase-container">
  <form id="form-1" method="post" action="/admin/all-purchases/purchase/created" enctype="multipart/form-data">
    <p class="form-title">Thêm đơn nhập mới</p>
    <input type="text" placeholder="Nhập tên sản phẩm">
    <div class="products-match">
      {{#each products}}
        <div class="product" style="display: none;">
          <p style="width: 15%">{{this.brand}}</p>
          <p 
            style="width: 65%; display:flex; align-items:center; justify-content:start; gap:5px"
            class="product-name"
          >
            <img src="{{this.img.path}}" alt="{{this.name}}" loading="lazy" loading="lazy"> 
            {{this.name}}
          </p>  
          <p style="width: 10%;">{{this.categories}}</p>
          <p style="width: 10%; text-align:right" id="product-price">{{this.price}}</p>
        </div>
      {{/each}}
    </div>

    <table>
      <thead>
        <tr>
          <td style="width:  5%;">STT</td>
          <td style="width: 50%;">Sản Phẩm</td>
          <td style="width: 15%;">Đơn Giá</td>
          <td style="width: 10%;">Số Lượng</td>
          <td style="width: 15%;">Tổng Tiền</td>
          <td style="width: 5%;"></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
        <td colspan="4">Tổng</td>
        <td>100000</td>
        <td></td>
      </tfoot>
    </table>  

    <div class="submit-button"><button title="submit" type="submit">Hoàn thành</button></div>
  </form>
</div>

<script>  
  const productPrice = Array.from(document.querySelectorAll('p#product-price'))
  productPrice.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})

  const input = document.querySelector('input')
  const product = Array.from(document.querySelectorAll('div.product')) 
  const productName = Array.from(document.querySelectorAll('p.product-name')).map((item) => {
    return item.innerText
      .normalize('NFD')
      .replace(/[\u0300-\u036f]/g, '') // Remove diacritical marks
      .replace(/đ/g, 'd')             // Replace 'đ' with 'd'
      .replace(/Đ/g, 'D')             // Replace 'Đ' with 'D'
      .toLowerCase();                 // Convert to lowercase
  })
  const tbody = document.querySelector('tbody')
  input.addEventListener('input', function() {
    const value = input.value
    console.log(value)
    productName.forEach((item, index) => {
      if (value === '') {
        product[index].style.display = 'none'
        return
      } 
      if (item.includes(value)) {
        product[index].style.display = ''
        return
      }
      product[index].style.display = 'none'
    })
  })
  product.forEach((item,index) => {
    item.onclick = function() {
      const name = productName[index]
      const price = productPrice[index].innerText
      const newRow = document.createElement('tr')
      const prdName = document.createElement('td')
      const prdPrice = document.createElement('td')
      const test1 = document.createElement('td')
      const test2 = document.createElement('td')
      const test3 = document.createElement('td')
      const test4 = document.createElement('td')

      prdName.append(name)
      prdPrice.append(price)

      newRow.appendChild(test1)
      newRow.appendChild(prdName)
      newRow.appendChild(prdPrice)
      newRow.appendChild(test2)
      newRow.appendChild(test3)
      newRow.appendChild(test4)

      tbody.appendChild(newRow)
    }
  })

</script>