<div class="admin-home-container">
  <div class="info-table">  
    <div class="customer-info">
      <table>
        <thead>
          <tr><td colspan="3">QUẢN LÝ KHÁCH HÀNG</td></tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng khách hàng</td>
            <td>{{totalCustomer}}</td>
            <td><a href="/admin/all-customers">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Khách hàng có doanh thu cao nhất</td>
            <td>{{preparingOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=preparing">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="purchase-info">
      <table>
        <thead>
          <tr><td colspan="3">QUẢN LÝ NHẬP HÀNG</td></tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="order-info">
      <table>
        <thead>
          <tr><td colspan="3">QUẢN LÝ BÁN HÀNG</td></tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng đơn hàng</td>
            <td>{{totalOrder}}</td>
            <td><a href="/admin/all-orders">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Đơn hàng đang xử lý</td>
            <td>{{preparingOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=preparing">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Đơn hàng đang giao</td>
            <td>{{deliveringOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=delivering">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Đơn hàng đã hoàn thành</td>
            <td>{{doneOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=done">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="store-info">
      <table>
        <thead>
          <tr><td colspan="3">QUẢN LÝ CỬA HÀNG</td></tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng cửa hàng</td>
            <td>{{totalStore}}</td>
            <td><a href="/admin/all-stores">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Cửa hàng có doanh thu cao nhất</td>
            <td>{{preparingOrders}}</td>
            <td><a href="/admin/stores">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="product-info">
      <table>
        <thead>
          <tr><td colspan="3">QUẢN LÝ SẢN PHẨM</td></tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng sản phẩm</td>
            <td>{{totalProduct}}</td>
            <td><a href="/admin/all-products/?page=&type=">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm Skincare</td>
            <td>{{allSkincareProducts}}</td>
            <td><a href="/admin/all-products/?page=1&type=skincare">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm Makeup</td>
            <td>{{allMakeupProducts}}</td>
            <td><a href="/admin/all-products/?page=1&type=makeup">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm đã xoá</td>
            <td>{{deletedProducts}}</td>
            <td><a href="/admin/trash">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="finance-info">
      <table>
        <thead>
          <tr><td colspan="3">QUẢN LÝ DOANH THU</td></tr>
        </thead>
        <tbody>
          <tr>
            <td>Tổng doanh thu</td>
            <td>{{formatNumber totalRevenue}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Đơn có giá trị cao nhất</td>
            <td>{{formatNumber maxValueOrderNumber}}</td>
            <td><a href="/admin/all-orders/order/{{maxValueOrderId}}">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="employee-info">
      <table>
        <thead>
          <tr><td colspan="3">QUẢN LÝ NHÂN SỰ</td></tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng nhân sự</td>
            <td>{{totalEmployee}}</td>
            <td><a href="/admin/all-employees">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Bảng lương</td>
            <td></td>
            <td><a href="/admin/">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="brand-info">
      <table>
        <thead>
          <tr><td colspan="3">QUẢN LÝ ĐỐI TÁC</td></tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng đối tác</td>
            <td>{{totalBrand}}</td>
            <td><a href="/admin/all-brands">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div><canvas id="customer"></canvas></div>
    <div><canvas id="purchase"></canvas></div>
    <div><canvas id="order"></canvas></div>
    <div><canvas id="store"></canvas></div>
    <div><canvas id="product"></canvas></div>
    <div><canvas id="employee"></canvas></div>
    <div><canvas id="supplier"></canvas></div>
    <div><canvas id="brand"></canvas></div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
<script>
  var successful = '{{successful}}'
  loadFile('/js/admin/home.js')
  console.log('successful')
  const customer  = document.getElementById('customer')
  const purchase  = document.getElementById('purchase')
  const order     = document.getElementById('order')
  const store     = document.getElementById('store')
  const product   = document.getElementById('product')
  const employee  = document.getElementById('employee')
  const supplier  = document.getElementById('supplier')
  const brand     = document.getElementById('brand')
  {{!-- console.log({{name}}) --}}

  new Chart(customer, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: 'THỐNG KÊ KHÁCH HÀNG',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1,
        backgroundColor: '#FFDFDF'
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })

  new Chart(purchase, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: 'THỐNG KÊ NHẬP HÀNG',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })

  new Chart(order, {
    type: 'bar',
    data: {
      labels: ['Đang chuẩn bị', 'Đang giao', 'Hoàn thành'],
      datasets: [{
        label: 'THỐNG KÊ ĐƠN HÀNG',
        data: [{{preparingOrders}}, {{deliveringOrders}}, {{doneOrders}}],
        borderColor: '#36A2EB',
        backgroundColor: '#9BD0F5',
      }]
    }
  })

  new Chart(store, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: 'THỐNG KÊ CỬA HÀNG',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })

  new Chart(product, {
    type: 'bar',
    data: {
      labels: ['Skincare', 'Makeup', 'Xoá'],
      datasets: [{
        label: 'THỐNG KÊ SẢN PHẨM',
        data: [{{allSkincareProducts}}, {{allMakeupProducts}}, {{deletedProducts}}],
        borderWidth: 1
      }]
    }
  })

  new Chart(employee, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: 'THỐNG KÊ NHÂN SỰ',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })

  new Chart(supplier, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: 'THỐNG KÊ ĐỐI TÁC',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })

  new Chart(brand, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: 'THỐNG KÊ THƯƠNG HIỆU',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })

  Chart.defaults.backgroundColor = '#FFDFDF'
</script>