<div class="admin-home-container">
  <div class="info-table">  
    <div class="order-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              QUẢN LÝ ĐƠN HÀNG
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng đơn hàng</td>
            <td>{{allOrders}}</td>
            <td><a href="/admin/all-orders">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Đơn hàng đang xử lý</td>
            <td>{{preparingOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=preparing">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Đơn hàng đang giao</td>
            <td>{{deliveringOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=delivering">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Đơn hàng đã hoàn thành</td>
            <td>{{doneOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=done">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="product-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              QUẢN LÝ SẢN PHẨM
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng sản phẩm</td>
            <td>{{allProducts}}</td>
            <td><a href="/admin/all-products/?page=&type=">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm Skincare</td>
            <td>{{allSkincareProducts}}</td>
            <td><a href="/admin/all-products/?page=1&type=skincare">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm Makeup</td>
            <td>{{allMakeupProducts}}</td>
            <td><a href="/admin/all-products/?page=1&type=makeup">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm đã xoá</td>
            <td>{{deletedProducts}}</td>
            <td><a href="/admin/trash">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="finance-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              QUẢN LÝ DOANH THU
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tổng doanh thu</td>
            <td class="totalRevenue">{{totalRevenue}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Đơn có giá trị cao nhất</td>
            <td class="maxValueOrderNumber">{{maxValueOrderNumber}}</td>
            <td><a href="/admin/all-orders/{{maxValueOrderId}}">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="customer-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              QUẢN LÝ KHÁCH HÀNG
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng khách hàng</td>
            <td>{{allOrders}}</td>
            <td><a href="/admin/all-customers">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Khách hàng có doanh thu cao nhất</td>
            <td>{{preparingOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=preparing">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="store-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              QUẢN LÝ CỬA HÀNG
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng cửa hàng</td>
            <td>{{allOrders}}</td>
            <td><a href="/admin/all-stores">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Cửa hàng có doanh thu cao nhất</td>
            <td>{{preparingOrders}}</td>
            <td><a href="/admin/stores">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="employee-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              QUẢN LÝ NHÂN SỰ
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Số lượng nhân sự</td>
            <td>{{totalEmployee}}</td>
            <td><a href="/admin/all-employees">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Bảng lương</td>
            <td></td>
            <td><a href="/admin/">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  var totalRevenue = document.querySelector('td.totalRevenue')
  var maxValueOrderNumber = document.querySelector('td.maxValueOrderNumber')

  totalRevenue.innerText = totalRevenue.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'
  maxValueOrderNumber.innerText = maxValueOrderNumber.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'
</script>