<div class="admin-home-container">
  <div class="board-title">
    <p></p>
  </div>

  <div class="info-table">  
    <div class="order-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              Thông tin đặt hàng
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tổng đơn hàng</td>
            <td>{{allOrders}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Đơn hàng đang xử lý</td>
            <td>{{preparingOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=preparing">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Đơn hàng đang giao</td>
            <td>{{deliveringOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=delivering">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Đơn hàng đã hoàn thành</td>
            <td>{{doneOrders}}</td>
            <td><a href="/admin/all-orders/?page=1&type=done">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="product-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              Thông tin sản phẩm
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tổng sản phẩm</td>
            <td>{{allProducts}}</td>
            <td></td>
          </tr>
          <tr>
            <td>Tổng thương hiệu</td>
            <td>{{allBrands}}</td>
            <td><a href="">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm Skincare</td>
            <td>{{allSkincareProducts}}</td>
            <td><a href="/admin/all-products/?page=1&type=skincare">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm Makeup</td>
            <td>{{allMakeupProducts}}</td>
            <td><a href="/admin/all-products/?page=1&type=makeup">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Sản phẩm đã xoá</td>
            <td>{{deletedProducts}}</td>
            <td><a href="/admin/trash">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="finance-info">
      <table>
        <thead>
          <tr>
            <td colspan="3">
              Thông tin doanh thu
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tổng doanh thu</td>
            <td>{{totalRevenueToCurrency}}đ</td>
            <td></td>
          </tr>
          <tr>
            <td>Đơn có doanh thu cao nhất</td>
            <td>{{maxValueOrderToCurrency}}đ</td>
            <td><a href="/admin/all-orders/{{maxValueOrderId}}">Chi tiết</a></td>
          </tr>
          <tr>
            <td>Khách hàng mua nhiều nhất</td>
            <td></td>
            <td><a href="">Chi tiết</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  var greetingLine = document.querySelector('div.board-title').querySelector('p')
  var date = new Date()
  var dateNow = date.getDate() + '/' + (date.getMonth()+1) + '/' + date.getFullYear()
  greetingLine.innerText = `Doanh thu ngày ${dateNow}`

</script>