<div class="order-details-container">
  <form method="POST" action="/admin/order-updated/{{order._id}}?_method=PUT">
    <table>
      <thead>
        <tr>
          <td colspan="2">
            Thông tin chung
          </td>
          <td></td>
        </tr>
      </thead>
      <tr>
        <td>
          Mã Đơn Hàng
        </td>
        <td>
          {{order._id}}
        </td>
      </tr>
      <tr>
        <td>
          Ngày Đặt Hàng
        </td>
        <td>
          {{order.createdAt}}
        </td>
      </tr>
      <tr>
        <td>
          Tên Khách Hàng
        </td>
        <td>
          {{order.customerInfo.name}}
        </td>
      </tr>
      <tr>
        <td>
          Số Điện Thoại
        </td>
        <td>
          {{order.customerInfo.phone}}
        </td>
      </tr>
      <tr>
        <td>
          Địa Chỉ Nhận Hàng
        </td>
        <td>
          {{order.customerInfo.address}}
        </td>
      </tr>
      <tr>
        <td>
          Ghi Chú
        </td>
        <td>
          {{order.customerInfo.note}}
        </td>
      </tr>
      <tr>
        <td>
          Tổng Tiền
        </td>
        <td>
          {{order.totalOrderPrice}} đ
        </td>
      </tr>
      <tr>
        <td>
          Trạng thái đơn hàng
        </td>
        <td>
          <input type="radio" id="preparing" name="status" value="preparing">
          <label id="preparing" for="preparing">Đang Xử Lý</label>

          <input type="radio" id="delivering" name="status" value="delivering">
          <label id="delivering" for="delivering">Đang Giao Hàng</label>

          <input type="radio" id="done" name="status" value="done">
          <label id="done" for="done">Hoàn Thành</label>
        </td>
      </tr>
    </table>

    <table>
      <thead>
        <tr>
          <td style="width: 50%;">Sản Phẩm  </td>
          <td style="width: 15%;">          </td>
          <td style="width: 10%;">Đơn Giá   </td>
          <td style="width: 10%;">Số Lượng  </td>
          <td style="width: 10%;">Tổng Tiền </td>
          <td style="width: 5% ;">          </td>
        </tr>
      </thead>
      <tbody>
        {{#each order.products}}
        <tr>
          <td>{{this.name}}        </td>
          <td></td>
          <td style="text-align: center;">{{this.price}} đ        </td>
          <td style="text-align: center;">{{this.quantity}}       </td>
          <td style="text-align: center;">{{this.totalPrice}} đ   </td>
          <td></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <button type="submit">Cập nhật</button>    
  </form>     
</div>

<script>
  var getPreparingButton = document.querySelector('label#preparing')
  var getDeliveringButton = document.querySelector('label#delivering')
  var getDoneButton = document.querySelector('label#done')

  if (`{{order.status}}` === 'preparing') {
    getPreparingButton.style.backgroundColor = 'white'
    getPreparingButton.style.color = 'red'
  }
  if (`{{order.status}}` === 'delivering') {
    getDeliveringButton.style.backgroundColor = 'white'
    getDeliveringButton.style.color = 'red'
  }
  if (`{{order.status}}` === 'done') {
    getDoneButton.style.backgroundColor = 'white'
    getDoneButton.style.color = 'red'
  }

  getPreparingButton.onclick = function() {
    getPreparingButton.style.backgroundColor = 'white'
    getPreparingButton.style.color = 'red'

    getDeliveringButton.style.backgroundColor = ''
    getDeliveringButton.style.color = ''

    getDoneButton.style.backgroundColor = ''
    getDoneButton.style.color = ''
  }

  getDeliveringButton.onclick = function() {
    getPreparingButton.style.backgroundColor = ''
    getPreparingButton.style.color = ''

    getDeliveringButton.style.backgroundColor = 'white'
    getDeliveringButton.style.color = 'red'

    getDoneButton.style.backgroundColor = ''
    getDoneButton.style.color = ''
  }

  getDoneButton.onclick = function() {
    getPreparingButton.style.backgroundColor = ''
    getPreparingButton.style.color = ''

    getDeliveringButton.style.backgroundColor = ''
    getDeliveringButton.style.color = ''

    getDoneButton.style.backgroundColor = 'white'
    getDoneButton.style.color = 'red'
  }

</script>
