<div class="admin-trash-products-container">
  <div class="board-title">
      <p>Sản phẩm đã xoá: {{totalDeletedProduct}}</p>
  </div>

  <div class="table">
    <table>
      <thead>
        <tr>
          <td style="width:  5%">STT     </td>
          <td style="width: 15%">Hãng    </td>
          <td style="width: 30%">Tên     </td>
          <td style="width: 10%">Loại    </td>
          <td style="width: 20%">Giá     </td>
          <td style="width: 10%">Số lượng</td>
          <td style="width: 10%">Thao tác</td>
        </tr>
      </thead>

      <tbody>
        {{#each product}}
        <tr>
          <td>{{addIndex @index 1}}</td>
          <td>{{this.brand}}</td>
          <td style="
                display: flex; 
                justify-content: start;
                align-items: center
                "
          >
            <img src="{{this.img.path}}" alt="{{this.name}}" loading="lazy">
            <p>{{this.name}}</p>
          </td>
          <td>{{this.categories}}</td>
          <td id="product-price">{{this.price}}</td>
          <td id="product-quantity">{{this.quantity}}</td>
          <td>
            <button id="{{this._id}}" onclick="clickToRestore(this.id)">Khôi Phục</button>
            <button id="{{this._id}}" onclick="clickToDelete(this.id)">Xoá</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div id="id00" class="modal">
      <form class="modal-content">
        <div class="container">
          <p>Bạn có muốn khôi phục sản phẩm {{this.name}} không</p>
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id00').style.display='none'" class="cancelbtn">Huỷ</button>
            <button id="restore-button" type="button" class="deletebtn">Khôi phục</button>
          </div>
        </div>
      </form>
    </div>

    <div id="id01" class="modal">
      <form class="modal-content">
        <div class="container">
          <p>Bạn có muốn xoá sản phẩm {{this.name}} vĩnh viễn không</p>
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Huỷ</button>
            <button id="delete-button" type="button" class="deletebtn">Xoá vĩnh viễn</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<form name="delete-form" method="post"></form>
<form name="restore-form" method="get"></form>

<script>
  // delete button
  var productId;
  var deleteForm    = document.forms['delete-form']
  var restoreForm   = document.forms['restore-form']
  var deleteButton  = document.getElementById('delete-button')
  var restoreButton = document.getElementById('restore-button')
  var productPrice  = document.querySelectorAll('td#product-price')

  productPrice.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})

  function clickToDelete(clicked_id) {
    document.getElementById('id01').style.display='block'
    productId = clicked_id
  }

  deleteButton.onclick = function () {
    deleteForm.action = '/admin/all-products/product/delete/' + productId + '?_method=DELETE'
    deleteForm.submit()
  }

  //restore button
  function clickToRestore(clicked_id) {
    document.getElementById('id00').style.display='block'
    productId = clicked_id
  }

  restoreButton.onclick = function () {
    restoreForm.action = '/admin/all-products/product/restore/' + productId 
    restoreForm.submit()
  }
</script>