<div class="admin-trash-products-container">
  <div class="board-sidebar">
      <p>Sản phẩm đã xoá</p>
  </div>

  <div class="table">
    <table style="width:100%">
      <tr>
        <th>
          Id
        </th>
        <th>
          Hãng
        </th>
        <th>
          Tên
        </th>
        <th>
          Loại
        </th>
        <th>
          Giá
          {{{sortable 'price' _sort}}}
        </th>
        <th>
          Lựa chọn
        </th>
      </tr>
      {{#each product}}
      <tr>
        <td style="width: 10%;">{{addIndex @index 1}}</td>
        <td style="width: 15%;">{{this.brand}}</td>
        <td style="
              display: flex; 
              justify-content: start;
              align-items: center
              "
        >
          <img src="../uploads/{{this.avatar}}">
          <p>{{this.name}}</p>
        </td>
        <td style="width: 10%;">{{this.skincare}}</td>
        <td style="width: 10%;">{{this.price}}</td>
        <td style="width: 15%;">
          <button id="{{this._id}}" onclick="clickToRestore(this.id)">Khôi Phục</button>
          <div id="id00" class="modal">
            <form class="modal-content">
              <div class="container">
                <p>Bạn có muốn khôi phục sản phẩm {{this.name}} không</p>
                <div class="clearfix">
                  <button type="button" onclick="document.getElementById('id00').style.display='none'" class="cancelbtn">Huỷ</button>
                  <button id="restore-button" type="button" class="deletebtn">Khôi phục</button>
                </div>
              </div>
            </form>
          </div>

          <button id="{{this._id}}" onclick="clickToDelete(this.id)">Xoá</button>
          <div id="id01" class="modal">
            <form class="modal-content">
              <div class="container">
                <p>Bạn có muốn xoá sản phẩm {{this.name}} vĩnh viễn không</p>
                <div class="clearfix">
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Huỷ</button>
                  <button id="delete-button" type="button" class="deletebtn">Xoá vĩnh viễn</button>
                </div>
              </div>
            </form>
          </div>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>

  <div class="total">
    <p class="total-title">Tổng sản phẩm đã xoá</p>
    <p class="total-number">{{total}}</p>
  </div>
</div>

<form name="delete-form" method="post"></form>
<form name="restore-form" method="get"></form>

<script>
  // delete button
  var productId;
  var deleteForm = document.forms['delete-form']
  var restoreForm = document.forms['restore-form']
  var deleteButton = document.getElementById('delete-button')
  var restoreButton = document.getElementById('restore-button')

  function clickToDelete(clicked_id) {
    document.getElementById('id01').style.display='block'
    productId = clicked_id
  }

  deleteButton.onclick = function () {
    deleteForm.action = '/admin/delete/' + productId + '?_method=DELETE'
    deleteForm.submit()
  }

  //restore button
  function clickToRestore(clicked_id) {
    document.getElementById('id00').style.display='block'
    productId = clicked_id
  }

  restoreButton.onclick = function () {
    restoreForm.action = '/admin/restore/' + productId 
    restoreForm.submit()
  }

  var allProducts = document.querySelectorAll('tr')
  var allProductsLength = allProducts.length

  for (let i = 1; i < allProductsLength; ++i) {
    let productName = allProducts[i].querySelectorAll('td')[3]
    if (productName.innerText !== '') {
      productName.innerText = 'Skincare'
    } else {
      productName.innerText = 'Makeup'
    }
  }
</script>