<div class="admin-update-product-container">
  <form method="POST" action="/admin/updated/{{product._id}}?_method=PUT" enctype="multipart/form-data">
    <div class="form-title">
      <p>Sửa sản phẩm</p>
    </div>

    <div class="form-group">
      <label for="categories">Loại Sản Phẩm</label>
      <select name="categories">
        <option value="">-- Chọn --</option>
        <option value="skincare">Skincare</option>
        <option value="makeup">Makeup</option>
      </select>
    </div>
    
    <div class="form-group" style="display: none">
      <select name="skincare">
        <option value="">-- Skincare --</option>
        <option value="xit-khoang">
          Xịt Khoáng
        </option>
        <option value="mat-na">
          Mặt Nạ
        </option>
        <option value="serum">
          Serum
        </option>
        <option value="bha">
          BHA
        </option>
        <option value="tay-da-chet">
          Tẩy Da Chết
        </option>
        <option value="duong-da">
          Dưỡng Da
        </option>  
        <option value="toner">
          Toner
        </option>
        <option value="nuoc-tay-trang">
          Nước Tẩy Trang
        </option>
        <option value="cham-mun">
          Chấm Mụn
        </option>
        <option value="kem-duong-am">
          Kem Dưỡng Ẩm
        </option>
        <option value="sua-rua-mat">
          Sữa Rửa Mặt
        </option>
      </select>
    </div>

    <div class="form-group" style="display: none">
      <select name="makeup">
        <option value="">-- Makeup --</option>
        <option value="phan-ma">
          Phấn Má
        </option>
        <option value="mascara">
          Mascara
        </option>
        <option value="ke-mat">
          Kẻ Mắt
        </option>
        <option value="kem-chong-nang">
          Kem Chống Nắng
        </option>
        <option value="che-khuyet-diem">
          Che Khuyết Điểm
        </option>
        <option value="son">
          Son
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="brand">Hãng</label>
      <input type="text" class="form-control" id="brand" value="{{product.brand}}" name="brand" >
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="name">Tên</label>
      <input type="text" class="form-control" id="name" value="{{product.name}}" name="name">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="price">Giá cũ</label>
      <input type="text" class="form-control" id="price" value="{{product.oldPrice}}" name="oldPrice">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="price">Giá mới</label>
      <input type="text" class="form-control" id="price" value="{{product.price}}" name="price">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="description">Mô tả</label>
      <input type="text" class="form-control" id="description" value="{{product.description}}" name="description">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="details">Chi tiết</label>
      <input type="text" class="form-control" id="details" value="{{product.details}}" name="details">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="hotsale">Độ Hot</label>
      <select name="hotsale">
        <option value="no">Bình thường</option>
        <option value="flash-sale">Đang Flash Sale</option>
        <option value="hot">Đang hot</option>
      </select>
    </div>

    <div class="form-group">
      <label for="newArrival">Độ Mới</label>
      <select name="newArrival">
        <option value="no">Ra lâu rồi</option>
        <option value="yes">Chuẩn luôn</option>
      </select>
    </div>

    <div class="form-group">
      <label for="details">Ảnh</label>
      <input type="file" name="img" id="img" value="{{product.img}}"/>
    </div>
    <div class="submit-button">
      <button title="submit" type="submit">Hoàn thành</button>
    </div>

  </form>
</div>

<script>

var selectedValue = 'skincare'
var skincareBox = document.querySelector('select[name="skincare"]').parentElement
var makeUpBox = document.querySelector('select[name="makeup"]').parentElement
var categoriesSelectOptions = document.querySelector('select[name="categories"]').querySelectorAll('option')
var hotsaleSelectOptions = document.querySelector('select[name="hotsale"]').querySelectorAll('option')
var newArrivalSelectOptions = document.querySelector('select[name="newArrival"]').querySelectorAll('option')
var productType = ''

// selected product category
categoriesSelectOptions.forEach(option => {
  if (option.value === `{{product.categories}}`) {
    option.setAttribute('selected', 'selected')
  }
})

// selected product hotsale
hotsaleSelectOptions.forEach(option => {
  if (option.value === `{{product.hotsale}}`) {
    option.setAttribute('selected', 'selected')
  }
})

// selected product newArrival
newArrivalSelectOptions.forEach(option => {
  if (option.value === `{{product.newArrival}}`) {
    option.setAttribute('selected', 'selected')
  }
})

// display product category
if (`{{product.categories}}` === 'skincare') {
  skincareBox.style.display = 'block'
  makeUpBox.style.display = 'none'
  productType = 'skincare'
}

if (`{{product.categories}}` === 'makeup') {
  skincareBox.style.display = 'none'
  makeUpBox.style.display = 'block'
  productType = 'makeup'
}

// selected product type
if (productType === 'skincare') {
  var skincareSelectOptions = document.querySelector('select[name="skincare"]').querySelectorAll('option')
  skincareSelectOptions.forEach(option => {
    if (option.value === `{{product.skincare}}`) {
      option.setAttribute('selected', 'selected')
    }
  })
}

if (productType === 'makeup') {
  var makeupSelectOptions = document.querySelector('select[name="makeup"]').querySelectorAll('option')
  makeupSelectOptions.forEach(option => {
    if (option.value === `{{product.makeup}}`) {
      option.setAttribute('selected', 'selected')
    }
  })
}

</script>