<div class="handle-products">
  <form method="POST" action="/admin/updated/{{product._id}}?_method=PUT" enctype="multipart/form-data">
    <div class="form-title">
      <p>Sửa sản phẩm</p>
    </div>

    <div class="form-group">
      <label for="categories">Loại gì nhể</label>
      <select name="categories">
        <option value="">-- Chọn --</option>
        <option value="skincare">Skincare</option>
        <option value="makeup">Makeup</option>
      </select>
    </div>
    
    <div class="form-group" style="display: none">
      <label for="skincare">Skincare</label>
      <select name="skincare">
        <option value="">-- Chọn -- </option>
        <option value="Xịt khoáng">
          Xịt khoáng
        </option>
        <option value="Mặt nạ">
          Mặt nạ
        </option>
        <option value="Serum">
          Serum
        </option>
        <option value="BHA">
          BHA
        </option>
        <option value="Tẩy da chết">
          Tẩy da chết
        </option>
        <option value="Dưỡng da">
          Dưỡng da
        </option>  
        <option value="Toner">
          Toner
        </option>
        <option value="Nước tẩy trang">
          Nước tẩy trang
        </option>
        <option value="Chấm mụn">
          Chấm mụn
        </option>
        <option value="Kem dưỡng ẩm">
          Kem dưỡng ẩm
        </option>
        <option value="Sữa rửa mặt">
          Sữa rửa mặt
        </option>
      </select>
    </div>

    <div class="form-group" style="display: none">
      <label for="makeup">Makeup</label>
      <select name="makeup">
        <option value="">-- Chọn -- </option>
        <option value="Phấn má">
          Phấn má
        </option>
        <option value="Mascara">
          Mascara
        </option>
        <option value="Kẻ mắt">
          Kẻ mắt
        </option>
        <option value="Kem chống nắng">
          Kem chống nắng
        </option>
        <option value="Che khuyết điểm">
          Che khuyết điểm
        </option>
        <option value="Son">
          Son
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="brand">Hãng gì nhể</label>
      <input type="text" class="form-control" id="brand" value="{{product.brand}}" name="brand" >
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="name">Tên gì nhể</label>
      <input type="text" class="form-control" id="name" value="{{product.name}}" name="name">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="price">Giá bao nhiêu nhể</label>
      <input type="text" class="form-control" id="price" value="{{product.price}}" name="price">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="description">Mô tả như nào nhể</label>
      <input type="text" class="form-control" id="description" value="{{product.description}}" name="description">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="details">Chi tiết ra sao nhể</label>
      <input type="text" class="form-control" id="details" value="{{product.details}}" name="details">
      <span class="form-message"></span>
    </div>

    <div class="form-group">
      <label for="hotsale">Có hot không nhể</label>
      <select name="hotsale">
        <option value="no">Bình thường</option>
        <option value="flash-sale">Đang Flash Sale</option>
        <option value="hot">Đang hot</option>
      </select>
    </div>

    <div class="form-group">
      <label for="newArrival">Mới ra à</label>
      <select name="newArrival">
        <option value="no">Ra lâu rồi</option>
        <option value="yes">Chuẩn luôn</option>
      </select>
    </div>

    <div class="form-group">
      <label for="details">Cuối cùng thì cho xin nốt cái ảnh</label>
      <input type="file" name="avatar" id="avatar" />
    </div>
    <div class="submit-button">
      <button title="submit" type="submit">Hoàn thành</button>
    </div>

  </form>
</div>

<script>

var selectBox = document.querySelector('select[name="categories"]')
var selectedValue = ''
var skincareBox = document.querySelector('select[name="skincare"]').parentElement
var makeUpBox = document.querySelector('select[name="makeup"]').parentElement

selectBox.onchange = function() {
  selectedValue = selectBox.options[selectBox.selectedIndex].value;
  if (selectedValue === 'skincare') {
    skincareBox.style.display = 'block'
    makeUpBox.style.display = 'none'
  }
  if (selectedValue === 'makeup') {
    skincareBox.style.display = 'none'
    makeUpBox.style.display = 'block'
  }
}

</script>