<div class="user-all-products-container">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <div class="main-title" style="text-transform:uppercase"><b>Toàn bộ sản phẩm nè</b></div>
  </div>

  <div class="all-category-skincare">
  </div>

  <div class="all-category-makeup">
  </div>

  <select class="sort">
    <option value="">Sắp xếp theo</option>
    <option value="asc">Giá tăng dần</option>
    <option value="desc">Giá giảm dần</option>
  </select>

  <div class="all-products">
    {{#each newProduct}}
      <div class="product">
        <a href="/product/{{this.slug}}">
          <img src="{{this.img}}" alt="">
          <p id="product-old-price" style="display:none"><del>{{this.oldPrice}}đ </del></p>
          <p id="product-price">{{this.price}}đ</p>
          <p id="product-details">{{this.name}}</p>
        </a>
      </div>
    {{/each}}
  </div>

  <span class="pagination">
  </span>
</div>

<script>
  // update main-title base on params.slug
  var getSlug = `{{type}}`
  var mainTitle = document.querySelector('div.main-title').querySelector('b')
  var getSkincareCategory = document.querySelector('div.all-category-skincare')
  var getMakeupCategory = document.querySelector('div.all-category-makeup')

  switch (getSlug) {
    case 'flash-sale': 
      mainTitle.innerText = 'Toàn bộ sản phẩm đang sale'
      var oldPrice = document.querySelectorAll('p#product-old-price')
      oldPrice.forEach(oldPrice => oldPrice.style.display = '')
      break
    case 'hot': 
      mainTitle.innerText = 'Toàn bộ sản phẩm đang hot'
      break
    case 'new-arrival': 
      mainTitle.innerText = 'Toàn bộ sản phẩm mới về'
      break
    case 'xit-khoang': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Xịt khoáng'
      break
    case 'mat-na': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Mặt nạ'
      break
    case 'mat-na': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Mặt nạ'
      break
    case 'serum': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Serum'
      break
    case 'bha': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Bha'
      break
    case 'tay-da-chet': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Tẩy da chết'
      break
    case 'duong-da': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Dưỡng da'
      break
    case 'toner': 
      mainTitle.innerText = 'Toàn bộ sản phẩm toner'
      break
    case 'nuoc-tay-trang': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Nước tẩy trang'
      break
    case 'cham-mun': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Chấm mụn'
      break
    case 'kem-duong-am': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Kem dưỡng ẩm'
      break
    case 'sua-rua-mat': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Sữa rửa mặt'
      break
    case 'phan-ma': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Phấn má'
      break
    case 'mascara': 
      mainTitle.innerText = 'Toàn bộ sản phẩm mascara'
      break
    case 'ke-mat': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Kẻ mắt'
      break
    case 'kem-chong-nang': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Kem chống nắng'
      break
    case 'che-khuyet-diem': 
      mainTitle.innerText = 'Toàn bộ sản phẩm Che khuyết điểm'
      break
    case 'son': 
      mainTitle.innerText = 'Toàn bộ sản phẩm son'
      break
    case 'makeup': 
      mainTitle.innerText = 'Toàn bộ sản phẩm makeup'
      getMakeupCategory.innerHTML = `
        <ul>
          <li>
            <a href="/all-products/makeup/phan-ma">
              Phấn má
              <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647688/cHJvZHVjdHMvaWM5b29ka2tzZ3F1aW1vYndrM3U=/preview" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/mascara">
              Mascara
              <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647373/cHJvZHVjdHMvbHdnZmVjYWpzMHNxdnBrYWxwaXA=/preview" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/ke-mat">
              Kẻ mắt
              <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647427/cHJvZHVjdHMvZ2d4M3dleDQ1em96YTFyd2xuczM=/preview" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/kem-chong-nang">
              Kem chống nắng
              <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710648070/cHJvZHVjdHMvZGVyNmRsNG1jNjYwdnZ6dXFmdm8=/preview" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/che-khuyet-diem">
              Che khuyết điểm
              <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710648154/cHJvZHVjdHMvZm13a3RoZGJ5cnpzZHpjdGluZDQ=/preview" alt="">
            </a>
          </li>
          <li>
            <a href="/all-products/makeup/son">
              Son
              <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647180/cHJvZHVjdHMvc2Z5YWVqdWVtaHl4YWRweHJqOWs=/preview" alt="">
            </a>
          </li>
        </ul>
      `
      break
    case 'skincare': 
      mainTitle.innerText = 'Toàn bộ sản phẩm skincare'
      getSkincareCategory.innerHTML = `
        <ul>
            <li>
              <a href="/all-products/skincare/xit-khoang">
                Xịt khoáng
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647064/cHJvZHVjdHMvYmozc2ZhZTRkeGllb2psY2s4aWk=/preview" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/mat-na">
                Mặt nạ
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710648052/cHJvZHVjdHMveWNtMG9ucXM2MjRsaHMyaDczZDM=/preview" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/serum">
                Serum
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710648014/cHJvZHVjdHMvc2ZzY3p6emFjc3JudjBveHB3NHQ=/preview" alt="">
            </a>
            </li>

            <li>
              <a href="/all-products/skincare/bha">
                BHA
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647156/cHJvZHVjdHMvaXRwZncycnZiZ2x3amxsZm1md2Q=/preview" alt="">
            </a>
            </li>

            <li>
              <a href="/all-products/skincare/tay-da-chet">
                Tẩy da chết
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647212/cHJvZHVjdHMvYXFqcjlhZDlrMWdzb2x0dWNzM3I=/preview" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/duong-da">
                Dưỡng da
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647079/cHJvZHVjdHMvYnNiaHFoMm1jdWE4b2trZndwY3E=/preview" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/toner">
                Toner
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647707/cHJvZHVjdHMvajNnbWtrbmxodGp1cnU4aWc1aW0=/preview" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/nuoc-tay-trang">
                Nước tẩy trang
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647750/cHJvZHVjdHMvZDg1amlmanBnZGdhMTVrenBha2E=/preview" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/cham-mun">
                Chấm mụn
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710647968/cHJvZHVjdHMvYWFyMmpxc2x3ZTlza2RidG1yb3Y=/preview" alt="">
              </a>
            </li>
            
            <li>
              <a href="/all-products/skincare/kem-duong-am">
                Kem dưỡng ẩm
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710648227/cHJvZHVjdHMvdGl2azJ0ZTNlY2hpcmhlbXljdXA=/preview" alt="">
              </a>
            </li>

            <li>
              <a href="/all-products/skincare/sua-rua-mat">
                Sữa rửa mặt
                <img src="https://res-console.cloudinary.com/bunny-store/thumbnails/v1/image/upload/v1710648203/cHJvZHVjdHMvenk4YXBsaGd1emxzdWNtbGZ3Z3Q=/preview" alt="">
              </a>
            </li>
        </ul>
      `
      break
  }

  // pagination 
  var pagination = document.querySelector('span.pagination')
  var productLength = `{{productLength}}`
  var sortedColumn = `{{sortedColumn}}`
  var sort = `{{sort}}`
  var currentPage = 1

  // díplay all pages tag
  for (let i = 0; i < productLength; i += 10) {
    var newPage = document.createElement('a')
    {{!-- if (getSlug === 'skincare') {
      newPage.setAttribute('href', `/all-products/skincare/${getSlug}?page=${currentPage}&column=${sortedColumn}&sort=${sort}`)
    } else if (getSlug === 'makeup') {
      newPage.setAttribute('href', `/all-products/makeup/${getSlug}?page=${currentPage}&column=${sortedColumn}&sort=${sort}`)
    } else {
      newPage.setAttribute('href', `/all-products/${getSlug}?page=${currentPage}&column=${sortedColumn}&sort=${sort}`)
    } --}}
    newPage.setAttribute('href', `/all-products/${getSlug}?page=${currentPage}&column=${sortedColumn}&sort=${sort}`)
    newPage.innerText = `${currentPage}`
    pagination.appendChild(newPage)
    currentPage++
  }

  // Style the current selected page
  var allPagesTag = pagination.querySelectorAll('a')
  for (let i = 0; i < allPagesTag.length; ++i) {
    if (allPagesTag[i].innerText === `{{currentPage}}`) {
      allPagesTag[i].style.borderColor = '#D1A6A6'
      allPagesTag[i].style.backgroundColor = '#D1A6A6'
      allPagesTag[i].style.color = 'white'
      allPagesTag[i].style.width = '25px'
      allPagesTag[i].style.height = '25px'
    }
  }

  // sort
  let selectButton = document.querySelector('select')
  selectButton.onchange = function () {
    {{!-- if (getSlug === 'skincare') {
      location = `/all-products/skincare/${getSlug}?page=1&column=price&sort=${this.value}`
    } else if (getSlug === 'makeup') {
      location = `/all-products/makeup/${getSlug}?page=1&column=price&sort=${this.value}`    
    } else {
      location = `/all-products/${getSlug}?page=1&column=price&sort=${this.value}`
    } --}}
    location = `/all-products/${getSlug}?page=1&column=price&sort=${this.value}`
  }

  let selectButtonOptions = selectButton.querySelectorAll('option')

  selectButtonOptions.forEach(option => {
    if (option.value === `{{sort}}`) {
      option.setAttribute('selected', 'selected')
    }
  })

</script>