<div class="user-all-products-container">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <div class="main-title" style="text-transform:uppercase"><b>Toàn bộ sản phẩm nè</b></div>
  </div>

  <div class="all-category-skincare"></div>
  <div class="all-category-makeup"></div>

  <div class="filter">
    <div>
      <label for="price">Giá bán</label>
      <select id="price" class="filter-btn">
        <option value="">Sắp xếp theo</option>
        <option value="asc">Giá tăng dần</option>
        <option value="desc">Giá giảm dần</option>
      </select>
    </div>

    <div>
      <label for="rate">Đánh giá</label>
      <select id="rate" class="filter-btn">
        <option value="">Sắp xếp theo</option>
        <option value="asc">Giá tăng dần</option>
        <option value="desc">Giá giảm dần</option>
      </select>
    </div>
    
    <div>
      <label for="saleNumber">Lượng bán</label>
      <select id="saleNumber" class="filter-btn">
        <option value="">Sắp xếp theo</option>
        <option value="asc">Giá tăng dần</option>
        <option value="desc">Giá giảm dần</option>
      </select>
    </div>
  </div>

  <div class="products">
    {{#each products}}
      {{> product}}
    {{/each}}
  </div>

  <span class="pagination"></span>
</div>

<script>
  var getSlug       = `{{type}}`
  var currentPage   = `{{currentPage}}`
  var productLength = `{{productLength}}`
  var sortedColumn  = `{{sortedColumn}}`
  var sort          = `{{sort}}`
  loadFile('/js/user/allProducts.js')
</script>
<script src="/js/user/product.js"></script>