<div class="all-products-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <div class="main-title" style="text-transform:uppercase"><b>Toàn bộ sản phẩm đang sale nè</b></div>
  </div>

  <div class="sort-button">
    Sắp xếp
    {{{sortable 'price' _sort}}}
  </div>
  
  <div class="all-products">
    {{#each product}}
      <div class="product">
        <a href="/product/{{this.slug}}">
          <img src="../uploads/{{this.avatar}}" alt="">
          <p id="product-price">{{this.price}}</p>
          <p id="product-details">{{this.name}}</p>
        </a>
      </div>
    {{/each}}
</div>

<span class="see-more-button">
  <button>Xem thêm</button>
</span>