<div class="order-container">
   <table>
    <thead>
      <tr><td colspan="2"> Thông tin chung </td></tr>
    </thead>
    <tr>
      <td> Mã Đơn Hàng </td>
      <td> {{orderInfo._id}} </td>
    </tr>
    <tr>
      <td> Ngày Đặt Hàng </td>
      <td> {{formatDate orderInfo.createdAt}} </td>
    </tr>
    <tr>
      <td> Tên Khách Hàng </td>
      <td> {{orderInfo.customerInfo.name}} </td>
    </tr>
    <tr>
      <td> Số Điện Thoại </td>
      <td> {{orderInfo.customerInfo.phone}} </td>
    </tr>
    <tr>
      <td> Địa Chỉ Nhận Hàng </td>
      <td> {{orderInfo.customerInfo.address}} </td>
    </tr>
    <tr>
      <td> Ghi Chú </td>
      <td> {{orderInfo.customerInfo.note}} </td>
    </tr>
    <tr>
      <td> Tổng Tiền </td>
      <td id="total-order-price"> {{orderInfo.totalOrderPrice}} </td>
    </tr>
    <tr>
      <td> Trạng Thái Đơn Hàng </td>
      <td> {{orderInfo.status}} </td>
    </tr>
   </table>

  <table>
    <thead>
      <tr>
        <td>Sản Phẩm  </td>
        <td>Đơn Giá   </td>
        <td>S/L       </td>
        <td>Tổng      </td>
      </tr>
    </thead>
    <tbody>
      {{#each orderInfo.products}}
      <tr>
        <td><p>{{this.name}}</p></td>
        <td style="text-align: center;" id="product-price">{{this.price}}</td>
        <td style="text-align: center;">{{this.quantity}}</td>
        <td style="text-align: center;" id="total-product-price">{{this.totalPrice}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  var totalOrderPrice   = document.querySelectorAll('td#total-order-price')
  var productPrice      = document.querySelectorAll('td#product-price')
  var totalProductPrice = document.querySelectorAll('td#total-product-price')
  
  totalOrderPrice.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
  productPrice.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
  totalProductPrice.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
</script>