<div class="detail-product-container">
  <div class="table">
    <div class="image-box">
      <div class="image">
        <img src="{{newProduct.img.path}}" alt="{{newProduct.name}}" loading="lazy"/>
      </div>
    </div>
    
    <div class="details-box">
      <div class="product-title">
        <p id="product-rate">
          <span id="rate-score">{{formatRate newProduct.rate}}</span>/5
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </p>
        <h3>{{newProduct.brand}}</h3>
        <h1>{{newProduct.name}}</h1>
        <del><h4 id="product-old-price">{{formatNumber newProduct.oldPrice}}</h4></del>
        <h3 id="product-price">{{formatNumber newProduct.price}}</h3>
        <h4 id="product-quantity">Số lượng: {{newProduct.quantity}}</h4>
      </div>
      
      <div class="description">
        <p>{{newProduct.description}}</p>
      </div>

      <div class="quantity">
        <i class="fi fi-rr-minus-circle"></i>
        <p></p>
        <i class="fi fi-rr-add"></i>
      </div>

      <div class="button">
        <div class="add-to-cart"><p>Thêm Vào Giỏ</p></div>
        <div class="buy-now"><a href="/all-orders"><p>Mua Ngay</p></a></div>
        <div class="out-of-order"><p>Hết Hàng</p></div>
      </div>
    </div>
  </div>

  <div class="more-details">
    <h3>THÔNG TIN SẢN PHẨM</h3>
    <p>{{newProduct.details}}</p>
  </div>
  
  <div class="more-details">
    <h3>HƯỚNG DẪN SỬ DỤNG</h3>
    <p>{{newProduct.guide}}</p>
  </div>

  <div class="more-details">
    <h3>Đánh giá</h3>
    <div class="comment-list">
      {{#each comments}}
        <div class="comment">
          <p id="sender">user{{this.senderId}}</p>
          <p id="send-date">{{formatDate this.createdAt}}</p>
          <p id="comment">{{this.comment}}</p>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="related-products">
    <div class="title">
      <a href="/all-products/{{newProduct.categories}}/{{newProductType}}" class="main-title"><b>SẢN PHẨM TƯƠNG ỨNG</b></a>
    </div>

    <div class="products">
    {{#each relatedProducts}}
      {{> product}}
    {{/each}}
  </div>
  </div>
</div>

<script>
  var productDetails = `{{newProduct.details}}`
  var productStatus  = `{{newProduct.status}}`
  var productId      = `{{newProduct._id}}`
  var productName    = `{{newProduct.name}}`
  var productPrice   = `{{newProduct.price}}`
  var productImage   = `{{newProduct.img.path}}`
  loadFile('/js/user/detailProduct.js')
</script>
<script src="/js/user/product.js" defer></script>