<div class="detail-rate-order-container">
  <form id="form-1" method="post" action="/all-orders/order/rate/updated/{{orderInfo._id}}?_method=PUT">
    <table>
      <thead>
        <tr><td colspan="2"> Thông tin chung </td></tr>
      </thead>
      <tr>
        <td> Mã Đơn Hàng </td>
        <td> {{orderInfo._id}} </td>
      </tr>
      <tr>
        <td> Ngày Đặt Hàng </td>
        <td> {{formatDate orderInfo.createdAt}} </td>
      </tr>
      <tr>
        <td> Tên Khách Hàng </td>
        <td> {{orderInfo.customerInfo.name}} </td>
      </tr>
      <tr>
        <td> Số Điện Thoại </td>
        <td> {{orderInfo.customerInfo.phone}} </td>
      </tr>
      <tr>
        <td> Địa Chỉ Nhận Hàng </td>
        <td> {{orderInfo.customerInfo.address}} </td>
      </tr>
      <tr>
        <td> Ghi Chú </td>
        <td> {{orderInfo.customerInfo.note}} </td>
      </tr>
      <tr>
        <td> Tổng Tiền </td>
        <td> {{formatNumber orderInfo.totalOrderPrice}} </td>
      </tr>
      <tr>
        <td> Trạng Thái Đơn Hàng </td>
        <td> {{formatStatus orderInfo.status}} </td>
      </tr>
    </table>

    <table>
      <thead>
        <tr>
          <td>Sản Phẩm  </td>
          <td>Đơn Giá   </td>
          <td>S/L       </td>
          <td>Tổng      </td>
        </tr>
      </thead>
      <tbody>
        {{#each orderInfo.products}}
        <tr>
          <td><p>{{this.name}}</p></td>
          <td style="text-align: center">{{formatNumber this.price}}</td>
          <td style="text-align: center">{{this.quantity}}</td>
          <td style="text-align: center">{{formatNumber this.totalPrice}}</td>
        </tr>
        <tr>
          <td colspan="4">
            <input type="text" placeholder="Nhập đánh giá của bạn" id="productComment" name="productComment[]">
            <input type="hidden" id="productId" name="productId[]" value="{{this.id}}">
            <div class="rate-star">
              <input type="hidden" id="productRate" name="productRate[]" value="0">
              <i class="fi fi-ss-star"></i>
              <i class="fi fi-ss-star"></i>
              <i class="fi fi-ss-star"></i>
              <i class="fi fi-ss-star"></i>
              <i class="fi fi-ss-star"></i>
              <span class="rate-score">0</span>
              <span>/</span>
              <span>5</span>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </form>

  <div class="button"><button type="submit">Gửi</button></div>
</div>

<script>
  const isRated = `{{orderInfo.isRated}}`
  const successful = `{{successful}}`
  loadFile('/js/user/detailRateOrder.js')
</script>