<div class="advertisement-container">
  {{> userAdvertise}}
</div>

<div class="flash-deal-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <a href="/all-products/flash-sale" class="main-title"><b>FLASH DEAL</b></a>
  </div>
  
  <div class="products">
    {{#each flashDealProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="{{this.img}}" alt="" id="product-1">
        <p id="product-old-price"><del>{{this.oldPrice}}đ </del></p>
        <p id="product-price">{{this.price}}đ</p>
        <p id="product-details">{{this.name}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="hot-products-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <a href="/all-products/hot" class="main-title"><b>SẢN PHẨM HOT</b></a>
  </div>
  
  <div class="products">
    {{#each hotProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="{{this.img}}" alt="" id="product-1">
        <p id="product-price">{{this.price}}đ</p>
        <p id="product-details">{{this.name}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="content-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <a href="/all-products" class="main-title"><b>TOÀN BỘ SẢN PHẨM</b></a>
  </div>

  <div class="products">
    {{#each allProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="{{this.img}}" alt="" id="product-1">
        <p id="product-price">{{this.price}}đ</p>
        <p id="product-details">{{this.name}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="famous-brand-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <a href="/all-products/all-brands" class="main-title"><b>THƯƠNG HIỆU NỔI BẬT</b></a>
  </div>

  <div class="brands">
    <div class="inner">
      {{#each allBrands}}
      <div class="brand">
        <a href="/all-products/all-brands/{{this}}">
          {{this}}
        </a>
      </div>
      {{/each}}
    </div>
    <div class="fade"></div>
  </div>
</div>

