<div class="advertisement-container">
  {{> userAdvertise}}
</div>

<div class="flash-deal-board">
  <div class="board-title" style="display: flex; align-items: center; color: red; justify-content: space-between;">
    <div class="title">
      <i class="fi fi-sr-flame"></i>
      <p class="main-title"><b>FLASH DEAL</b></p>
    </div>
    <div class="see-more-icon">
      <a href="/all-products/flash-sale" class="see-more-icon-title" style="text-decoration: none;">Xem Tất Cả</a>
      <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
    </div>
  </div>
  
  <div class="flash-deal-products">
    {{#each flashDealProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="uploads/{{this.avatar}}" alt="" id="product-1">
        <p id="product-price">{{this.price}}đ</p>
        <p id="product-details">{{this.name}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="hot-products-board">
  <div class="board-title" style="display: flex; align-items: center; color: red; justify-content: space-between;">
    <div class="title">
      <i class="fi fi-sr-flame"></i>
      <p class="main-title"><b>SẢN PHẨM HOT</b></p>
    </div>
    <div class="see-more-icon">
      <a href="/all-products/hot" class="see-more-icon-title" style="text-decoration: none;">Xem Tất Cả</a>
      <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
    </div>
  </div>
  
  <div class="hot-products">
    {{#each hotProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="uploads/{{this.avatar}}" alt="" id="product-1">
        <p id="product-price">{{this.price}}đ</p>
        <p id="product-details">{{this.name}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="content-board">
  <div class="board-title" style="display: flex; align-items: center; color: red; justify-content: space-between;">
    <div class="title">
      <i class="fi fi-sr-flame"></i>
      <p class="main-title"><b>TOÀN BỘ SẢN PHẨM</b></p>
    </div>
    <div class="see-more-icon">
      <a href="/all-products" class="see-more-icon-title" style="text-decoration: none;">Xem Tất Cả</a>
      <i class="fi fi-rr-angle-small-right" style="padding-top: 5px;"></i>
    </div>
  </div>

  <div class="products">
    {{#each allProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="uploads/{{this.avatar}}" alt="" id="product-1">
        <p id="product-price">{{this.price}}đ</p>
        <p id="product-details">{{this.name}}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="dropup">
  <span>
    <i class="fi fi-sr-circle-phone-flip"></i>
  </span>
  <div class="dropup-content">
    <div class="content">
      <a href="https://www.facebook.com/bunnylylyyy"><img src="https://static.vecteezy.com/system/resources/previews/022/488/748/non_2x/3d-render-meta-chat-messenger-facebook-messenger-icon-bubble-isolated-on-transparent-background-free-png.png" /></a>
    </div>
    <div class="content">
      <a href="https://www.facebook.com/bunnylylyyy"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" /></a>
    </div>               
    <div class="content">
      <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/01/Logo-Zalo-Arc.png" alt="loading" style="width: 30px;"/>
    </div> 
  </div>              
</div>

<script>
  {{!-- var changePriceType = document.querySelectorAll('p#product-price')
  for (let i = 0; i < changePriceType.length; ++i) {
    changePriceType[i].innerText = changePriceType[i].innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.')
  } --}}
</script>