<div class="flash-deal-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm đang sale">
    <i class="fi fi-sr-flame"></i>
    <h1 style="font-size: 32px; margin-block-start: 0px; margin-block-end: 0px;">
      <a href="/all-products/flash-sale" class="main-title"><b>FLASH DEAL</b></a>
    </h1>
  </div>
  
  <div class="products">
    {{#each (checkStatus products 'flash-sale' 5)}}
      <a href="/all-products/product/{{this._id}}">
        <div class="product" data-tippy-content="{{this.name}}">
          <img src="{{this.img.path}}" alt="{{this.img.name}}" id="product-1" loading="lazy">
          <del style="color: black;"><p>{{formatNumber this.oldPrice}}</p></del>
          <p id="product-price">{{formatNumber this.price}}</p>
          <p id="product-details">{{this.name}}</p>
          <p id="product-rate">
            {{this.rate}}/5
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
          </p>
        </div>
      </a>  
    {{/each}}
  </div>
</div>

<div class="hot-products-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm đang hot">
    <i class="fi fi-sr-flame"></i>
    <h1 style="font-size: 32px; margin-block-start: 0px; margin-block-end: 0px;">
      <a href="/all-products/hot" class="main-title"><b>SẢN PHẨM HOT</b></a>
    </h1>
  </div>
  
  <div class="products">
    {{#each (checkStatus products 'hot' 5)}}
      <a href="/all-products/product/{{this._id}}">
        <div class="product" data-tippy-content="{{this.name}}">
          <img src="{{this.img.path}}" alt="{{this.img.name}}" id="product-1" loading="lazy">
          <p id="product-price">{{formatNumber this.price}}</p>
          <p id="product-details">{{this.name}}</p>
          <p id="product-rate">
            {{this.rate}}/5
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
          </p>
        </div>
      </a>
    {{/each}}
  </div>
</div>

<div class="content-board">
  <div class="title" data-tippy-content="Xem toàn bộ sản phẩm">
    <i class="fi fi-sr-flame"></i>
    <h1 style="font-size: 32px; margin-block-start: 0px; margin-block-end: 0px;">
      <a href="/all-products" class="main-title"><b>TOÀN BỘ SẢN PHẨM</b></a>
    </h1>
  </div>

  <div class="products">
    {{#each (limit products 5)}}
      <a href="/all-products/product/{{this._id}}">
        <div class="product" data-tippy-content="{{this.name}}">
          <img src="{{this.img.path}}" alt="{{this.img.name}}" id="product-1" loading="lazy">
          <p id="product-price">{{formatNumber this.price}}</p>
          <p id="product-details">{{this.name}}</p>
          <p id="product-rate">
            {{this.rate}}/5
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
            <i class="fi fi-ss-star"></i>
          </p>
        </div>
      </a>
    {{/each}}
  </div>
</div>

<div class="famous-brand-board">
  <div class="title" data-tippy-content="Xem toàn bộ thương hiệu">
    <i class="fi fi-sr-flame"></i>
    <h1 style="font-size: 32px; margin-block-start: 0px; margin-block-end: 0px;">
      <a href="/all-brands" class="main-title"><b>THƯƠNG HIỆU NỔI BẬT</b></a>
    </h1>
  </div>

  <div class="brands">
    <div class="inner">
      {{#each brands}}
      <div class="brand" data-tippy-content="{{this.name}}">
        <a href="/all-brands/brand/{{this._id}}">{{this.name}}</a>
      </div>
      {{/each}}
    </div>
    <div class="fade"></div>
  </div>
</div>

<script defer>
  loadFile('/js/user/home.js')
</script>