{{!-- <div class="advertisement-container">
  {{> userAdvertise}}
</div> --}}

<div class="flash-deal-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <a href="/all-products/flash-sale" class="main-title"><b>FLASH DEAL</b></a>
  </div>
  
  <div class="products">
    {{#each flashDealProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="{{this.img.path}}" alt="{{this.img.name}}" id="product-1" loading="lazy">
        <del style="color: black;"><p id="product-old-price">{{this.oldPrice}}</p></del>
        <p id="product-price">{{this.price}}</p>
        <p id="product-details">{{this.name}}</p>
        <p id="product-rate">
          {{this.rate}}/5
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="hot-products-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <a href="/all-products/hot" class="main-title"><b>SẢN PHẨM HOT</b></a>
  </div>
  
  <div class="products">
    {{#each hotProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="{{this.img.path}}" alt="{{this.img.name}}" id="product-1" loading="lazy">
        <p id="product-price">{{this.price}}</p>
        <p id="product-details">{{this.name}}</p>
        <p id="product-rate">
          {{this.rate}}/5
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="content-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <a href="/all-products" class="main-title"><b>TOÀN BỘ SẢN PHẨM</b></a>
  </div>

  <div class="products">
    {{#each allProduct}}
    <a href="/product/{{this.slug}}">
      <div class="product">
        <img src="{{this.img.path}}" alt="{{this.img.name}}" id="product-1" loading="lazy">
        <p id="product-price">{{this.price}}</p>
        <p id="product-details">{{this.name}}</p>
        <p id="product-rate">
          {{this.rate}}/5
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </p>
      </div>
    </a>
    {{/each}}
  </div>
</div>

<div class="famous-brand-board">
  <div class="title">
    <i class="fi fi-sr-flame"></i>
    <a href="/all-products/all-brands" class="main-title"><b>THƯƠNG HIỆU NỔI BẬT</b></a>
  </div>

  <div class="brands">
    <div class="inner">
      {{#each brands}}
      <div class="brand">
        <a href="/all-products/all-brands/{{this.name}}">
          {{this.name}}
        </a>
      </div>
      {{/each}}
    </div>
    <div class="fade"></div>
  </div>
</div>

<script>
  var allProductOldPrices = document.querySelectorAll('p#product-old-price')
  var allProductPrices    = document.querySelectorAll('p#product-price')
  
  allProductOldPrices.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
  allProductPrices.forEach((price) => {price.innerText = price.innerText.replace(/\B(?=(\d{3})+(?!\d))/g, '.') + ' VND'})
</script>

