<div class="orders-profile-container">
  <div class="table">
    <table style="width:100%">
      <tr>
        <th>
          ID
        </th>
        <th>
          Mã Đơn Hàng
        </th>
        <th>
          Tên Người Nhận
        </th>
        <th>
          Tổng Số Tiền
        </th>
        <th>
          Ngày Đặt Hàng
        </th>
        <th>
          Tình Trạng
        </th>
        <th>
        </th>
      </tr>
      {{#each order}}
      <tr>
        <td>
          {{addIndex @index 1}}
        </td>
        <td>
          {{this._id}}
        </td>
        <td>
          {{this.customerInfo.name}}
        </td>
        <td>
          {{this.totalProductPrice}}
        </td>
        <td>
          {{this.createdAt}}
        </td>
        <td>
          {{this.status}}
        </td>
        <td>
          <a href="/order/{{this._id}}">Chi Tiết</a>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>