<div class="order-container">
   <table>
    <thead>
      <tr>
        <td colspan="2">
          Thông tin chung
        </td>
      </tr>
    </thead>
    <tr>
      <td>
        Mã Đơn Hàng
      </td>
      <td>
        {{order._id}}
      </td>
    </tr>
    <tr>
      <td>
        Ngày Đặt Hàng
      </td>
      <td>
        {{order.createdAt}}
      </td>
    </tr>
    <tr>
      <td>
        Tên Khách Hàng
      </td>
      <td>
        {{order.customerInfo.name}}
      </td>
    </tr>
    <tr>
      <td>
        Số Điện Thoại
      </td>
      <td>
        {{order.customerInfo.phone}}
      </td>
    </tr>
    <tr>
      <td>
        Địa Chỉ Nhận Hàng
      </td>
      <td>
        {{order.customerInfo.address}}
      </td>
    </tr>
    <tr>
      <td>
        Ghi Chú
      </td>
      <td>
        {{order.customerInfo.note}}
      </td>
    </tr>
    <tr>
      <td>
        Tổng Tiền
      </td>
      <td>
        {{order.totalOrderPrice}} VND
      </td>
    </tr>
    <tr>
      <td>
        Trạng Thái Đơn Hàng
      </td>
      <td>
        {{order.status}}
      </td>
    </tr>
   </table>

  <table>
    <thead>
      <tr>
        <td>Sản Phẩm  </td>
        <td>Đơn Giá   </td>
        <td>S/L       </td>
        <td>Tổng      </td>
      </tr>
    </thead>
    <tbody>
      {{#each order.products}}
      <tr>
        <td><p>{{this.name}}</p>                                </td>
        <td style="text-align: center;">{{this.price}} VND      </td>
        <td style="text-align: center;">{{this.quantity}}       </td>
        <td style="text-align: center;">{{this.totalPrice}} VND </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>