<div class="order-checking-container">
    <form id="form-5">
        <h1>Hãy Nhập Mã Đơn Để Kiểm Tra Đơn Hàng Của Bạn Nhé !</h1>
        <input type="text" placeholder="Nhập Mã Đơn Hàng">
        <button type="submit">Kiểm Tra</button>
        <span class="error-message"></span>
    </form>
</div>

<script>
    var getForm = document.querySelector('form#form-5')
    var getSubmitButton = getForm.querySelector('button')
    var getOrderContainer = document.querySelector('div.order-checking-container')
    var errorMessage = document.querySelector('span.error-message')

    // when submit, the form will push the input value from user to the URL for backend
    getSubmitButton.onclick = function () {
        var orderCode = getForm.querySelector('input').value
        
        // mongoDB objectId regex
        var regex = /^[a-f\d]{24}$/i

        // check code input from user
        if (regex.test(orderCode)) {
            // if matched, submit form and pass value to URL for backend
            getForm.setAttribute('method', 'get')
            getForm.setAttribute('action', `/all-orders/checking/${orderCode}`)
            getForm.onsubmit = function () { }
        }
        else {
            // if not matched, prevent submit, enter again
            getForm.onsubmit = function (e) { e.preventDefault() }
            errorMessage.innerText = 'Mã Sản Phẩm Không Đúng'
            errorMessage.style.color = 'red'
            getOrderContainer.removeChild(orderProcess)
        }
    }

    // if found user's order, display their order info 
    if (`{{order}}`) {
        var orderProcess = document.createElement('div')
        orderProcess.setAttribute('class', 'order-process')
        orderProcess.innerHTML = `
            <table>
                <thead>
                    <tr>
                        <td style="width: 20%">Ngày Đặt Hàng</td>
                        <td style="width: 20%">Người Đặt</td>
                        <td style="width: 50%">Tiến Độ</td>
                        <td style="width: 10%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{order.createdAt}}</td>
                        <td>{{order.customerInfo.name}}</td>
                        <td>
                            {{!-- <i class="fi fi-ss-person-dolly"></i>
                            <i class="fi fi-bs-shipping-fast"></i>
                            <i class="fi fi-ss-check-circle"></i> --}}
                            {{order.status}}
                        </td>
                        <td><a href="/order/{{order._id}}">Chi Tiết</td>
                    </tr>
                </tbody>
            </table>            
        `
        getOrderContainer.appendChild(orderProcess)
    }
    else {
        errorMessage.innerText = 'Không Tìm Thấy Đơn Hàng'
        errorMessage.style.color = 'red'
        getOrderContainer.removeChild(orderProcess)
    }

</script>