<div class="product-details">
  <div class="table">
    <div class="image-box">
      <div class="thumbnails">
        <img src="../uploads/{{product.avatar}}" />
        <img src="../uploads/{{product.avatar}}" />
        <img src="../uploads/{{product.avatar}}" />
        <img src="../uploads/{{product.avatar}}" />
        <img src="../uploads/{{product.avatar}}" />
      </div>

      <div class="image">
        <img src="../uploads/{{product.avatar}}" />
      </div>
    </div>
    
    <div class="details-box">
      <div class="brand">
        <p>{{product.brand}}</p>
      </div>

      <div class="name">
        <p>{{product.name}}</p>
      </div>

      <div class="price">
        <p>{{product.price}}</p>
      </div>
      
      <div class="description">
        <p>{{product.description}}</p>
      </div>

      <div class="button">
        <div class="add-to-cart-btn">
          <i class="fi fi-rr-shopping-cart-add"></i> 
        </div>
        <div>
          <i class="fi fi-rr-heart"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-details-more">
  <div class="table">
    <div class="title">
      <p>Thông tin sản phẩm</p>
    </div>
    <div class="details">
      <p>{{product.details}}</p>
    </div>
  </div>
</div>

<script>
  var getAddToCart = document.querySelector('div.add-to-cart-btn')
  var icon = getAddToCart.querySelector('i.fi-rr-shopping-cart-add')
  var myObjFromStorage = JSON.parse(localStorage.getItem('product_cart_count')) || { }
  var myObj = {
    localCounting: myObjFromStorage.localCounting || 0,
    isClicked: myObjFromStorage.isClicked,
    clickedProduct: 
  } 
    
  localStorage.setItem('product_cart_count', JSON.stringify(myObj))
  myObj.localCounting = myObjFromStorage.localCounting

  getAddToCart.onclick = function() {
    
    if (getAddToCart.style.backgroundColor === '') {
      getAddToCart.style.backgroundColor = '#D1A6A6'
      icon.style.color = 'white'
      myObj.isClicked = true
      myObj.localCounting++
    } else {
      getAddToCart.style.backgroundColor = ''
      icon.style.color = '#D1A6A6'
      myObj.isClicked = false
      myObj.localCounting--
    }
    localStorage.setItem('product_cart_count', JSON.stringify(myObj));
    document.dispatchEvent(new CustomEvent('cartUpdated'));
    console.log(myObj)
  }

</script>