<div class="user-update-profile-container">
    {{> userSidebar}}

    <div class="content">
      <p>Đánh giá Đơn Hàng</p>
      <table style="width:100%">
        <thead>
          <tr>
            <td style="width: 25%">Người Nhận</td>
            <td style="width: 25%">Tổng Tiền</td>
            <td style="width: 20%">Ngày</td>
            <td style="width: 15%">Tình Trạng</td>
            <td style="width: 15%">Đánh giá</td>
          </tr>
        </thead>
        <tbody>
          {{#each orderInfo}}
            <tr>
              <td>{{this.customerInfo.name}}</td>
              <td>{{formatNumber this.totalOrderPrice}}</td>
              <td>{{formatDate this.createdAt}}</td>
              <td>{{formatStatus this.status}}</td>
              <td><a href="/all-orders/order/rate/{{this._id}}">Đánh giá</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>   

<script>
  loadFile('/js/user/profileRateOrder.js')
</script>