<div class="user-update-profile-container">
    {{> userSidebar}}

    <div class="content">
      <p>Thông Tin Đơn Hàng</p>
      <table>
        <thead>
          <tr>
            <td style="width: 25%">Người Nhận</td>
            <td style="width: 25%">Tổng Tiền</td>
            <td style="width: 20%">Ngày</td>
            <td style="width: 15%">Tình Trạng</td>
            <td style="width: 15%">Chi tiết</td>
          </tr>
        </thead>
        <tbody>
          {{#each orderInfo}}
            <tr>
              <td>{{this.customerInfo.name}}</td>
              <td>{{formatNumber this.totalOrderPrice}}</td>
              <td>{{formatDate this.createdAt}}</td>
              <td>{{formatStatus this.status}}</td>
              <td><a href="/all-orders/order/{{this._id}}">Chi Tiết</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>  
    </div>
</div>   

<script>
  importLinkCss('/css/user/profile.css')
</script>
<script src="/js/user/profileOrder.js"></script>