<div class="user-update-profile-container">
  {{> userSidebar}}

  <div class="content">
    <p>Thông Tin Cá Nhân</p>

    <form class="update-profile" method="POST" action="/profile/updated/{{userInfo._id}}?_method=PUT">
      <div class="form-group">
        <label for="name">Tên Khách Hàng</label>
        <input type="text" id="name" name="name" value="{{userInfo.userInfo.name}}">
      </div>

      <div class="form-group">
        <label for="gender">Giới tính</label>
        <div>
          <input type="radio" id="male" name="gender" value="male">
          <label for="cash">Nam</label>
          
          <input type="radio" id="female" name="gender" value="female">
          <label for="cashless">Nữ</label>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Email khách hàng</label>
        <input type="text" id="email" name="email" value="{{userInfo.loginInfo.email}}">
      </div>

      <div class="form-group">
        <label for="phone">Số điện thoại</label>
        <input type="text" id="phone" name="phone" value="{{userInfo.userInfo.phone}}">
      </div>

      <div class="form-group">
        <label for="address">Địa chỉ nhận hàng</label>
        <input type="text" id="address" name="address" value="{{userInfo.userInfo.address}}">
      </div>
      
      <div class="form-group">
        <label for="address">Số lượng đơn hàng</label>
        <input type="text" id="quantity" name="quantity" value="{{userInfo.quantity}}" disabled>
      </div>
      
      <div class="form-group">
        <label for="address">Tổng chi tiêu</label>
        <input type="text" id="revenue" name="revenue" value="{{userInfo.revenue}}" disabled>
      </div>
      
      <div class="form-group">
        <label for="address">Ngày tạo tài khoản</label>
        <input type="text" id="createdAt" name="createdAt" value="{{formatDate userInfo.createdAt}}" disabled>
      </div>
    </form> 

    <div class="submit-button"><button type="submit">Cập Nhật</button></div>  
  </div>
</div>   

<script>
  var gender = '{{userInfo.userInfo.gender}}'
  var successful = '{{successful}}'
  loadFile('/js/user/profileInfo.js')
</script>