<div class="user-update-profile-container">
    <div class="sidebar-menu">
      <div class="avatar">
        <img src="../../../img/logo.jpg" alt="">
        <span>{{user.userInfo.name}}</span>
      </div>
      <div class="tag">
        <ul>
          <li class="profile">
            <i class="fi fi-br-circle-user"></i>
            <span>Thông tin cá nhân</span>
          </li>
          <li class="orders">
            <i class="fi fi-rr-piggy-bank"></i>
            <span>Thông tin đơn hàng</span>
          </li>
          <li class="feedback">
            <i class="fi fi-rr-feedback-alt"></i>
            <Span>Góp ý</Span>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">
      
    </div>
</div>   

<script>
  var profileButton = document.querySelector('li.profile')
  var ordersButton = document.querySelector('li.orders')
  var feedbackButton = document.querySelector('li.feedback')
  var contentContainer = document.querySelector('div.content')

  // display profile update on first loaded page
  if (contentContainer.innerText === '') {
    contentContainer.innerHTML = `
      <p>
        Thông Tin Cá Nhân
      </p>

      <form class="update-profile" method="POST" action="/profile/updated/{{user._id}}?_method=PUT">
        <div class="form-group">
          <label for="name">Tên Khách Hàng</label>
          <input 
            type="text" 
            class="form-control" 
            id="name" 
            name="name" 
            value="{{user.userInfo.name}}"
          >
        </div>

        <div class="form-group">
          <label for="gender">Giới tính</label>
          <div>
            <input type="radio" id="male" name="gender" value="male">
            <label for="cash">Nam</label>
            
            <input type="radio" id="female" name="gender" value="female">
            <label for="cashless">Nữ</label>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Số điện thoại</label>
          <input 
            type="text" 
            class="form-control" 
            id="phone" 
            name="phone" 
            value="{{user.userInfo.phone}}"
          >
        </div>

        <div class="form-group">
          <label for="address">Địa chỉ nhận hàng</label>
          <input 
            type="text" 
            class="form-control" 
            id="address" 
            name="address" 
            value="{{user.userInfo.address}}"
          >
        </div>
      </form> 

      <div class="update-profile-button">
        <button type="submit">Cập Nhật</button>
      </div>
    `
  }

  // auto checked gender input
  var maleGender = document.querySelector('input#male')
  var femaleGender = document.querySelector('input#female')
  var userGender = `{{user.userInfo.gender}}`
  if (userGender === 'male') { 
    maleGender.checked = true
  } 
  if (userGender === 'female') { 
    femaleGender.checked = true
  } 

  // submit update profile form
  var updateProfileForm = document.querySelector('form.update-profile')
  var updateProfileButton = document.querySelector('div.update-profile-button').querySelector('button')

  updateProfileButton.onclick = function() {
    updateProfileForm.submit()
  }

  profileButton.onclick = function() {
    contentContainer.innerHTML = `
      <p>
        Thông Tin Cá Nhân
      </p>

      <form class="update-profile" method="POST" action="/profile/updated/{{user._id}}?_method=PUT">
        <div class="form-group">
          <label for="name">Tên Khách Hàng</label>
          <input 
            type="text" 
            class="form-control" 
            id="name" 
            name="name" 
            value="{{user.userInfo.name}}"
          >
        </div>

        <div class="form-group">
          <label for="gender">Giới tính</label>
          <div>
            <input type="radio" id="male" name="gender" value="male">
            <label for="cash">Nam</label>
            
            <input type="radio" id="female" name="gender" value="female">
            <label for="cashless">Nữ</label>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Số điện thoại</label>
          <input 
            type="text" 
            class="form-control" 
            id="phone" 
            name="phone" 
            value="{{user.userInfo.phone}}"
          >
        </div>

        <div class="form-group">
          <label for="address">Địa chỉ nhận hàng</label>
          <input 
            type="text" 
            class="form-control" 
            id="address" 
            name="address" 
            value="{{user.userInfo.address}}"
          >
        </div>
      </form> 

      <div class="update-profile-button">
        <button type="submit">Cập Nhật</button>
      </div>
    `
    var maleGender = document.querySelector('input#male')
    var femaleGender = document.querySelector('input#female')
    var userGender = `{{user.userInfo.gender}}`
    if (userGender === 'male') { 
      maleGender.checked = true
    } 
    if (userGender === 'female') { 
      femaleGender.checked = true
    } 

    // submit update profile form
    var updateProfileForm = document.querySelector('form.update-profile')
    var updateProfileButton = document.querySelector('div.update-profile-button').querySelector('button')

    updateProfileButton.onclick = function() {
      updateProfileForm.submit()
    }
  }

  ordersButton.onclick = function() {
    contentContainer.innerHTML = `
      <p>
        Thông Tin Đơn Hàng
      </p>

      <table style="width:100%">
        <tr>
          <th>
            Tên Người Nhận
          </th>
          <th>
            Tổng Số Tiền
          </th>
          <th>
            Ngày Đặt Hàng
          </th>
          <th>
            Tình Trạng
          </th>
          <th>
          </th>
        </tr>
        {{#each order}}
        <tr>
          <td>
            {{this.customerInfo.name}}
          </td>
          <td>
            {{this.totalProductPrice}}
          </td>
          <td>
            {{this.createdAt}}
          </td>
          <td>
            {{this.status}}
          </td>
          <td>
            <a href="/order/{{this._id}}">Xem Chi Tiết</a>
          </td>
        </tr>
        {{/each}}
      </table>
    `
  }

  feedbackButton.onclick = function() {
    contentContainer.innerHTML = `
      <p>
        Góp ý
      </p>
      <form class="update-feedback" method="POST" action="/profile/updated/{{user._id}}?_method=PUT">
        <div class="form-group">
          <label for="phone">Bạn có góp ý gì cho mình thì điền vô đây nha</label>
          <input 
            type="text" 
            class="form-control" 
            id="phone" 
            name="phone" 
          >
        </div>
      </form> 

      <div class="update-feedback-button">
        <button type="submit">Cập Nhật</button>
      </div>
    `
  }

  {{!-- var updateFeedbackForm = document.querySelector('form.update-feedback')
  var updateFeedbackButton = document.querySelector('div.update-feedback-button').querySelector('button') --}}
</script>