<a href="/all-products/product/{{this._id}}">
  <div class="product" data-tippy-content="{{this.name}}">
    <img src="{{this.img.path}}" alt="{{this.img.name}}" id="product-1" loading="lazy">
    <p id="product-price">{{formatNumber this.price}}</p>
    <p id="product-details">{{this.name}}</p>
    <p id="product-rate">
      {{formatRate this.rate}}/5
      <i class="fi fi-ss-star"></i>
      <i class="fi fi-ss-star"></i>
      <i class="fi fi-ss-star"></i>
      <i class="fi fi-ss-star"></i>
      <i class="fi fi-ss-star"></i>
    </p>
    <p>Đã bán: {{this.saleNumber}}</p>
  </div>
</a>