<div class="customer-details-container">
  <form id="form-2" method="POST" action="/admin/all-customers/customer/updated/{{customerInfo._id}}?_method=PUT">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN KHÁCH HÀNG</td></tr>
      </thead>
      <tr>
        <td>Mã Khách Hàng</td>
        <td>{{customerInfo._id}}</td>
      </tr>
      <tr>
        <td>Tên Khách Hàng</td>
        <td><input type="text" id="name" name="name" value="{{customerInfo.name}}"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" id="email" name="email" value="{{customerInfo.email}}"></td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td><input type="text" id="phone" name="phone" value="{{customerInfo.phone}}"></td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td><input type="text" id="address" name="address" value="{{customerInfo.address}}"></td>
      </tr>
      <tr>
        <td>Giới tính</td>
        <td>
          <input type="radio" name="gender" id="male" value="male">Nam
          <input type="radio" name="gender" id="female" value="female">Nữ
        </td>
      </tr>
      <tr>
        <td>Tổng đơn hàng</td>
        <td>{{customerInfo.quantity}}</td>
      </tr>
      <tr>
        <td>Tổng chi tiêu</td>
        <td>{{formatNumber customerInfo.revenue}}</td>
      </tr>
      <tr>
        <td>Hạng thành viên</td>
        <td>{{memberInfo.name}}</td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">DANH SÁCH ĐƠN HÀNG</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">STT                   </td>
          <td style="width: 35%">Tổng tiền             </td>
          <td style="width: 25%">Phương thức thanh toán</td>
          <td style="width: 25%">Tình trạng            </td>
          <td style="width: 10%">Chi tiết              </td>
        </tr>
      </thead>
      <tbody>
        {{#each orderInfo}}
        <tr>
          <td>{{addIndex @index 1}}</td>
          <td>{{formatNumber this.totalOrderPrice}}</td>
          <td>{{formatPaymentMethod this.paymentMethod}}</td>
          <td>{{this.orderStatus.name}}</td>
          <td><a href="/admin/all-orders/order/{{this._id}}">Xem</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </form>
</div>

<script>
  var gender = '{{customerInfo.gender}}'
  var successful = '{{successful}}'
  loadFile('/js/admin/detail/customer.js')
</script>