<div class="customer-details-container">
  <form id="form-2" method="POST" action="/admin/all-customers/customer/updated/{{customerInfo._id}}?_method=PUT">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN KHÁCH HÀNG</td></tr>
      </thead>
      <tr>
        <td>Mã Khách Hàng</td>
        <td>{{customerInfo._id}}</td>
      </tr>
      <tr>
        <td>Tên Khách Hàng</td>
        <td>{{customerInfo.userInfo.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{customerInfo.loginInfo.email}}</td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td>{{customerInfo.userInfo.phone}}</td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td>{{customerInfo.userInfo.address}}</td>
      </tr>
      <tr>
        <td>Giới tính</td>
        <td>{{customerInfo.userInfo.gender}}</td>
      </tr>
      <tr>
        <td>Tổng doanh thu</td>
        <td>{{formatNumber totalPrice}}</td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">DANH SÁCH ĐƠN HÀNG</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">STT                   </td>
          <td style="width: 35%">Tổng tiền             </td>
          <td style="width: 25%">Phương thức thanh toán</td>
          <td style="width: 25%">Tình trạng            </td>
          <td style="width: 10%">Chi tiết              </td>
        </tr>
      </thead>
      <tbody>
        {{#each orderInfo}}
        <tr>
          <td>{{addIndex @index 1}}</td>
          <td>{{formatNumber this.totalOrderPrice}}</td>
          <td>{{this.paymentMethod}}</td>
          <td>{{formatStatus this.status}}</td>
          <td><a href="/admin/all-orders/order/{{this._id}}">Xem</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </form>
</div>

<script src="/js/admin/detail/customer.js" defer></script>