<div class="employee-details-container">
  <form id="form-2" method="POST" action="/admin/all-employees/employee/updated/{{employeeInfo._id}}?_method=PUT">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN NHÂN VIÊN</td></tr>
      </thead>
      <tr>
        <td>Mã Nhân Viên</td>
        <td>{{employeeInfo._id}}</td>
      </tr>
      <tr>
        <td>Tên Nhân Viên</td>
        <td>{{employeeInfo.userInfo.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{employeeInfo.loginInfo.email}}</td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td>{{employeeInfo.userInfo.phone}}</td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td>{{employeeInfo.userInfo.address}}</td>
      </tr>
      <tr>
        <td>Giới tính</td>
        <td>{{employeeInfo.userInfo.gender}}</td>
      </tr>
      <tr>
        <td>Cửa hàng làm việc</td>
        <td>{{employeeInfo.userInfo.storeId}}</td>
      </tr>
    </table>
    
    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </form>
</div>

<script src="/js/importLinkCss.js" defer></script>
<script src="/js/admin/detail/employee.js" defer></script>