<div class="order-details-container">
  <div id="form">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN ĐƠN HÀNG</td></tr>
      </thead>
      <tr>
        <td>Mã Đơn</td>
        <td>{{orderInfo._id}}</td>
      </tr>
      <tr>
        <td>Ngày Đặt</td>
        <td>{{formatDate orderInfo.createdAt}}</td>
      </tr>
      <tr>
        <td>Khách Hàng</td>
        <td>{{orderInfo.customerInfo.name}}</td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td>{{orderInfo.customerInfo.phone}}</td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td>{{orderInfo.customerInfo.address}}</td>
      </tr>
      <tr>
        <td>Ghi Chú</td>
        <td>{{orderInfo.customerInfo.note}}</td>
      </tr>
      <tr>
        <td>Phương thức thanh toán</td>
        <td>
          <select name="paymentMethod" id="paymentMethod">
            {{#each paymentMethods}}
            <option value="{{this.code}}">{{this.name}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
      <tr>
        <td>Tổng Tiền</td>
        <td>{{formatNumber orderInfo.totalOrderPrice}}</td>
      </tr>
      <tr>
        <td>Trạng thái đơn</td>
        <td>
          <select name="status" id="status">
            {{#each orderStatuses}}
            <option value="{{this.code}}">{{this.name}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="4">CHI TIẾT ĐƠN HÀNG</td></tr>
      </thead>
      <thead>
        <tr>
          <td>STT</td>
          <td>Tên Sản Phẩm</td>
          <td>Số Lượng</td>
          <td>Giá</td>
        </tr>
      </thead>
      <tbody>
        {{#each orderInfo.products}}
        <tr>
          <td>{{addIndex @index 1 }}</td>
          <td>{{this.name}}</td>
          <td>{{this.quantity}}</td>
          <td>{{formatNumber this.price}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    
    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </div>     
</div>

<script src="/js/admin/detail/order.js"></script>