<div class="order-details-container">
  <form id="form-2" method="POST" action="/admin/all-orders/order/updated/{{order._id}}?_method=PUT">
    <table id="table-1">
      <thead>
        <tr>
          <td colspan="2"> THÔNG TIN ĐƠN HÀNG </td>
        </tr>
      </thead>
      <tr>
        <td> Mã Đơn </td>
        <td> {{order._id}} </td>
      </tr>
      <tr>
        <td> Ngày Đặt </td>
        <td> {{formatDate order.createdAt}} </td>
      </tr>
      <tr>
        <td> Khách Hàng </td>
        <td> {{order.customerInfo.name}} </td>
      </tr>
      <tr>
        <td> SĐT </td>
        <td> {{order.customerInfo.phone}} </td>
      </tr>
      <tr>
        <td> Địa Chỉ </td>
        <td> {{order.customerInfo.address}} </td>
      </tr>
      <tr>
        <td> Ghi Chú </td>
        <td> {{order.customerInfo.note}} </td>
      </tr>
      <tr>
        <td> Tổng Tiền </td>
        <td id="total-order-price"> {{order.totalOrderPrice}}đ </td>
      </tr>
      <tr>
        <td> Trạng thái đơn </td>
        <td>
          <div>
            <input type="radio" id="preparing" name="status" value="preparing">
            <label id="preparing" for="preparing">Đang Xử Lý</label>
          </div>
          <div>
            <input type="radio" id="delivering" name="status" value="delivering">
            <label id="delivering" for="delivering">Đang Giao Hàng</label>
          </div>
          <div>
            <input type="radio" id="done" name="status" value="done">
            <label id="done" for="done">Hoàn Thành</label>
          </div>
        </td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr>
          <td>Sản Phẩm  </td>
          <td>Đơn Giá   </td>
          <td>S/L       </td>
          <td>Tổng      </td>
        </tr>
      </thead>
      <tbody>
        {{#each order.products}}
        <tr>
          <td><p>{{this.name}}</p>                                                     </td>
          <td style="text-align: center;" id="product-price">      {{this.price}}      </td>
          <td style="text-align: center;">                         {{this.quantity}}   </td>
          <td style="text-align: center;" id="total-product-price">{{this.totalPrice}} </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="submit-button">
      <button title="submit" type="submit">Cập nhật</button>
    </div>
  </form>     
</div>

<script defer>
  var orderStatus = `{{order.status}}`
</script>
<script src="/js/admin/detail/order.js" defer></script>