<div class="order-details-container">
  <form id="form-2" method="POST" action="/admin/all-orders/order/updated/{{order._id}}?_method=PUT">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN ĐƠN HÀNG</td></tr>
      </thead>
      <tr>
        <td>Mã Đơn</td>
        <td>{{order._id}}</td>
      </tr>
      <tr>
        <td>Ngày Đặt</td>
        <td>{{formatDate order.createdAt}}</td>
      </tr>
      <tr>
        <td>Khách Hàng</td>
        <td>{{order.customerInfo.name}}</td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td>{{order.customerInfo.phone}}</td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td>{{order.customerInfo.address}}</td>
      </tr>
      <tr>
        <td>Ghi Chú</td>
        <td>{{order.customerInfo.note}}</td>
      </tr>
      <tr>
        <td>Tổng Tiền</td>
        <td>{{formatNumber order.totalOrderPrice}}</td>
      </tr>
      <tr>
        <td> Trạng thái đơn </td>
        <td>
          <div>
            <input type="radio" id="preparing" name="status" value="preparing">
            <label id="preparing" for="preparing">Đang Xử Lý</label>
          </div>
          <div>
            <input type="radio" id="delivering" name="status" value="delivering">
            <label id="delivering" for="delivering">Đang Giao Hàng</label>
          </div>
          <div>
            <input type="radio" id="done" name="status" value="done">
            <label id="done" for="done">Hoàn Thành</label>
          </div>
        </td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="4">CHI TIẾT ĐƠN HÀNG</td></tr>
      </thead>
      <thead>
        <tr>
          <td>STT</td>
          <td>Tên Sản Phẩm</td>
          <td>Số Lượng</td>
          <td>Giá</td>
        </tr>
      </thead>
      <tbody>
        {{#each order.products}}
        <tr>
          <td>{{addIndex @index 1 }}</td>
          <td>{{this.name}}</td>
          <td>{{this.quantity}}</td>
          <td>{{formatNumber this.price}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    
    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </form>     
</div>

<script defer>
  var orderStatus = `{{order.status}}`
</script>
<script src="/js/admin/detail/order.js" defer></script>