<div class="product-details-container">
  <form id="form-2" method="POST" action="/admin/all-products/product/updated/{{product._id}}?_method=PUT">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN SẢN PHẨM</td></tr>
      </thead>
      <tr>
        <td>Loại Sản Phẩm</td>
        <td>
          <select name="categories" id="categories">
            <option value="skincare">Skincare</option>
            <option value="makeup">Makeup</option>
          </select>
          <select name="skincare" id="skincare" style="display: none">
            <option value="xit-khoang">Xịt Khoáng</option>
            <option value="mat-na">Mặt Nạ</option>
            <option value="serum">Serum</option>
            <option value="bha">BHA</option>
            <option value="tay-da-chet">Tẩy Da Chết</option>
            <option value="duong-da">Dưỡng Da</option>  
            <option value="toner">Toner</option>
            <option value="nuoc-tay-trang">Nước Tẩy Trang</option>
            <option value="cham-mun">Chấm Mụn</option>
            <option value="kem-duong-am">Kem Dưỡng Ẩm</option>
            <option value="sua-rua-mat">Sữa Rửa Mặt</option>
          </select>
          <select name="makeup" id="makeup" style="display: none">
            <option value="phan-ma">Phấn Má</option>
            <option value="mascara">Mascara</option>
            <option value="ke-mat">Kẻ Mắt</option>
            <option value="kem-chong-nang">Kem Chống Nắng</option>
            <option value="che-khuyet-diem">Che Khuyết Điểm</option>
            <option value="son">Son</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Hãng</td>
        <td><input type="text" id="brand" name="brand" value="{{product.brand}}"></td>
      </tr>
      <tr>
        <td>Tên</td>
        <td><input type="text" id="name" name="name" value="{{product.name}}"></td>
      </tr>
      <tr>
        <td>Giá cũ</td>
        <td><input type="text" id="oldPrice" name="oldPrice" value="{{formatNumber product.oldPrice}}"></td>
      </tr>
      <tr>
        <td>Giá mới</td>
        <td><input type="text" id="price" name="price" value="{{formatNumber product.price}}"></td>
      </tr>
      <tr>
        <td>Mô tả</td>
        <td><input type="text" id="description" name="description" value="{{product.description}}"></td>
      </tr>
      <tr>
        <td>Chi tiết</td>
        <td><input type="text" id="details" name="details" value="{{product.details}}"></td>
      </tr>
      <tr>
        <td>Độ hot</td>
        <td>
          <select name="status" id="status">
            <option value="no">Bình thường</option>
            <option value="flash-sale">Đang Flash Sale</option>
            <option value="hot">Đang hot</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Độ mới</td>
        <td>
          <select name="newArrival" id="newArrival">
            <option value="no">Ra lâu rồi</option>
            <option value="yes">Chuẩn luôn</option>
          </select>
        </td>
      </tr>
    </table>
    
    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div> 
  </form>
</div>

<script defer>
  var productCategories  = `{{product.categories}}`
  var productStatus      = `{{product.status}}`
  var productNewArrival  = `{{product.newArrival}}`
  var productSkincare    = `{{product.skincare}}`
  var productMakeup      = `{{product.makeup}}`
</script>
<script src="/js/importLinkCss.js" defer></script>
<script src="/js/admin/detail/product.js" defer></script>