<div class="profile-details-container">
  <form id="form-2" method="POST" action="/admin/profile/updated/{{userInfo._id}}?_method=PUT">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN CÁ NHÂN</td></tr>
      </thead>
      <tr>
        <td>Mã nhân viên</td>
        <td>{{userInfo._id}}</td>
      </tr>
      <tr>
        <td>Tên nhân viên</td>
        <td><input type="text" id="name" name="name" value="{{userInfo.name}}"></td>
      </tr>
      <tr>
        <td>Giới tính</td>
        <td>
          <input type="radio" name="gender" id="male" value="male">Nam
          <input type="radio" name="gender" id="female" value="female">Nữ
        </td>
      </tr>
      <tr>
        <td>Số điện thoại</td>
        <td><input type="text" id="phone" name="phone" value="{{userInfo.phone}}"></td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td><input type="text" id="address" name="address" value="{{userInfo.address}}"></td>
      </tr>
    </table>
    
    <div class="submit-button"><button type="submit">Cập Nhật</button></div>  
  </form>
</div>   

<script src="/js/admin/detail/profile.js"></script>