<div class="profile-details-container">
  <form id="form-2" method="POST" action="/admin/profile/updated/{{userInfo._id}}?_method=PUT">
    {{!-- <div class="form-title">
      <p>Thông Tin Cá Nhân</p>
    </div>

    <div class="form-group">
      <label for="name">Tên nhân viên</label>
      <input 
        type="text" 
        class="form-control" 
        id="name" 
        name="name" 
        value="{{userInfo.userInfo.name}}"
      >
    </div>

    <div class="form-group">
      <label for="gender">Giới tính</label>
      <div>
        <input type="radio" id="male" name="gender" value="male">
        <label for="cash">Nam</label>
        
        <input type="radio" id="female" name="gender" value="female">
        <label for="cashless">Nữ</label>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Số điện thoại</label>
      <input 
        type="text" 
        class="form-control" 
        id="phone" 
        name="phone" 
        value="{{userInfo.userInfo.phone}}"
      >
    </div>

    <div class="form-group">
      <label for="address">Địa Chỉ Nhà</label>
      <input 
        type="text" 
        class="form-control" 
        id="address" 
        name="address" 
        value="{{userInfo.userInfo.address}}"
      >
    </div> --}}

    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN CÁ NHÂN</td></tr>
      </thead>
      <tr>
        <td>Tên nhân viên</td>
        <td>{{userInfo.userInfo.name}}</td>
      </tr>
      <tr>
        <td>Giới tính</td>
        <td>{{userInfo.userInfo.gender}}</td>
      </tr>
      <tr>
        <td>Số điện thoại</td>
        <td>{{userInfo.userInfo.phone}}</td>
      </tr>
      <tr>
        <td>Địa Chỉ Nhà</td>
        <td>{{userInfo.userInfo.address}}</td>
      </tr>
    </table>
    
    <div class="submit-button"><button type="submit">Cập Nhật</button></div>  
  </form>
</div>   

<script defer>
  var userGender = `{{userInfo.userInfo.gender}}`
</script>
<script src="/js/admin/profile.js" defer></script>  