<div class="customer-details-container">
  <form id="form-2" method="POST" action="/admin/all-suppliers/supplier/updated/{{supplierInfo._id}}?_method=PUT">
    <table id="table-1">
      <thead>
        <tr><td colspan="2">THÔNG TIN NHÀ CUNG CẤP</td></tr>
      </thead>
      <tr>
        <td>Mã Nhà Cung Cấp</td>
        <td>{{supplierInfo._id}}</td>
      </tr>
      <tr>
        <td>Tên Nhà Cung Cấp</td>
        <td><input type="text" id="name" name="name" value="{{supplierInfo.name}}"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" id="email" name="email" value="{{supplierInfo.email}}"></td>
      </tr>
      <tr>
        <td>SĐT</td>
        <td><input type="text" id="phone" name="phone" value="{{supplierInfo.phone}}"></td>
      </tr>
      <tr>
        <td>Địa Chỉ</td>
        <td><input type="text" id="address" name="address" value="{{supplierInfo.address}}"></td>
      </tr>
      <tr>
        <td>Tổng đơn nhập</td>
        <td>{{supplierInfo.quantity}}</td>
      </tr>
      <tr>
        <td>Tổng chi phí</td>
        <td>{{formatNumber supplierInfo.totalCost}}</td>
      </tr>
    </table>

    <table id="table-2">
      <thead>
        <tr><td colspan="5">DANH SÁCH ĐƠN NHẬP</td></tr>
      </thead>
      <thead>
        <tr>
          <td style="width:  5%">STT       </td>
          <td style="width: 35%">Tổng tiền </td>
          <td style="width: 25%">Ngày nhập </td>
          <td style="width: 10%">Chi tiết  </td>
        </tr>
      </thead>
      <tbody>
        {{#each purchaseInfo}}
          <tr>
            <td>{{addIndex @index 1}}</td>
            <td>{{formatNumber this.totalPurchasePrice}}</td>
            <td>{{formatDate this.purchaseDate}}</td>
            <td><a href="/admin/all-purchases/purchase/{{this._id}}">Xem</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="submit-button"><button title="submit" type="submit">Cập nhật</button></div>
  </form>
</div>

<script>
  var successful = '{{successful}}'
  loadFile('/js/admin/detail/supplier.js')
</script>